<div class="p-3 flex flex-col w-full">
    <div class="flex mb-4">
        <span class="font-medium w-1/5"> Trạng thái: </span>
        <span>abc</span>
    </div>
    <div class="flex mb-4">
        <span class="font-medium w-1/5"> Mã khách hàng: </span>
        <span>abc</span>
    </div>
    <div class="flex mb-4">
        <span class="font-medium w-1/5"> Khách hàng: </span>
        <span>abc</span>
    </div>
    <div class="flex mb-4">
        <span class="font-medium w-1/5"> Nhóm khách hàng: </span>
        <span>abc</span>
    </div>
    <div class="flex mb-4">
        <span class="font-medium w-1/5"> Loại khách hàng: </span>
        <span>abc</span>
    </div>
    <div class="flex mb-4">
        <span class="font-medium w-1/5"> Kênh: </span>
        <span>abc</span>
    </div>
    <div class="flex mb-4">
        <span class="font-medium w-1/5"> Địa chỉ: </span>
        <span>abc</span>
    </div>
    <div class="flex mb-4">
        <span class="font-medium w-1/5"> Địa chỉ giao hàng: </span>
        <span>abc</span>
    </div>
    <div class="flex mb-4">
        <span class="font-medium w-1/5"> Khu vực: </span>
        <span>abc</span>
    </div>
    <div class="flex mb-4">
        <span class="font-medium w-1/5"> Tỉnh/Thành phố: </span>
        <span>abc</span>
    </div>
    <div class="flex mb-4">
        <span class="font-medium w-1/5"> Quận/Huyện: </span>
        <span>abc</span>
    </div>
    <div class="flex mb-4">
        <span class="font-medium w-1/5"> Sinh nhật: </span>
        <span>abc</span>
    </div>
    <div class="flex mb-4">
        <span class="font-medium w-1/5"> Người liên hệ: </span>
        <span>abc</span>
    </div>
    <div class="flex mb-4">
        <span class="font-medium w-1/5"> Chức vụ: </span>
        <span>abc</span>
    </div>
    <div class="flex mb-4">
        <span class="font-medium w-1/5"> SĐT: </span>
        <span>abc</span>
    </div>
    <div class="flex mb-4">
        <span class="font-medium w-1/5"> Email: </span>
        <span>abc</span>
    </div>
    <div class="flex mb-4">
        <span class="font-medium w-1/5"> Hạn mức công nợ: </span>
        <span>abc</span>
    </div>
    <div class="flex mb-4">
        <span class="font-medium w-1/5"> TK Tiền/Chi phí/Nợ: </span>
        <span>abc</span>
    </div>
</div>
