<form [formGroup]="detailOrderForm" class="p-3 w-full">
    <div style="font-size: 12px">
        <div class="flex gap-x-6 justify-between">
            <mat-form-field class="w-full" appearance="outline" floatLabel="always">
                <mat-label>Mã phiếu</mat-label>
                <input matInput [readonly]="true" formControlName="orderCode" />
            </mat-form-field>
            <mat-form-field class="w-full" appearance="outline" floatLabel="always">
                <mat-label>Trạng thái</mat-label>
                <mat-select formControlName="status" [disabled]="type === 'View'">
                    <mat-option *ngFor="let status of statusList" [value]="status.value">
                        {{ status.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="w-full" appearance="outline" floatLabel="always">
                <mat-label>Ngày đặt</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="orderDate" [disabled]="type === 'View'" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="w-full" appearance="outline" floatLabel="always">
                <mat-label>Ngày giao</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="deliveryDate" [disabled]="type === 'View'" />
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="flex gap-x-6 justify-between">
            <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                <mat-label>Nhóm</mat-label>
                <mat-select [disabled]="true">
                    <input placeholder="Tìm kiếm..." style="padding-left: 12px" matInput class="h-10 rounded-sm" />
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                <mat-label>Nhân viên đặt</mat-label>
                <mat-select [disabled]="type === 'View'" formControlName="orderEmployee">
                    <input placeholder="Tìm kiếm..." style="padding-left: 12px" matInput class="h-10 rounded-sm" />
                    <mat-option *ngFor="let employee of listEmployee" [value]="employee.id">
                        {{ employee.employeeName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                <mat-label>Tuyến</mat-label>
                <mat-select [disabled]="true">
                    <input placeholder="Tìm kiếm..." style="padding-left: 12px" matInput class="h-10 rounded-sm" />
                </mat-select>
            </mat-form-field>
        </div>
        <div class="flex gap-x-6 justify-between" formGroupName="customer">
            <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                <mat-label>Mã khách hàng</mat-label>
                <mat-select [disabled]="type === 'View'" formControlName="code">
                    <mat-option *ngFor="let customer of listCustomer" [value]="customer.id">
                        {{ customer.customerCode }} - {{ customer.customerName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="w-full" appearance="outline" floatLabel="always">
                <mat-label>Khách hàng</mat-label>
                <input [readonly]="type === 'View'" matInput formControlName="name" />
            </mat-form-field>
            <div class="flex gap-x-6 justify-between">
                <mat-form-field class="w-1/3" appearance="outline" floatLabel="always">
                    <mat-label>SĐT</mat-label>
                    <input [readonly]="type === 'View'" matInput formControlName="phone" />
                </mat-form-field>
                <mat-form-field class="w-full" appearance="outline" floatLabel="always">
                    <mat-label>Địa chỉ</mat-label>
                    <input [readonly]="type === 'View'" matInput formControlName="address" />
                </mat-form-field>
            </div>
        </div>

        <mat-form-field class="w-full" appearance="outline" floatLabel="always">
            <mat-label>Diễn giải</mat-label>
            <textarea [readonly]="type === 'View'" matInput formControlName="description"></textarea>
        </mat-form-field>
    </div>
    <mat-tab-group>
        <!-- Sản phẩm đặt hàng -->
        <mat-tab label="Sản phẩm đặt hàng">
            <div class="flex items-center mt-2 justify-between">
                <div class="flex items-center">
                    <div class="flex items-center">
                        <label for="simple-search" class="sr-only">Search</label>
                        <div class="relative w-full">
                            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                <svg
                                    aria-hidden="true"
                                    class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                    fill="currentColor"
                                    viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        fill-rule="evenodd"
                                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <input type="text" id="simple-search" class="search-input" placeholder="Search" required />
                        </div>
                    </div>
                    <button
                        (click)="openDialogProduct()"
                        class="text-gray-600 flex items-center ml-3 px-1 py-1.5 bg-zinc-200 hover:bg-zinc-300 rounded-lg hover:font-medium">
                        <i class="fa-solid fa-filter mr-2 px-2"></i>
                        <span class="px-2">Tìm kiếm nâng cao</span>
                    </button>
                    <button
                        class="text-white flex items-center ml-3 px-1 py-1.5 bg-rose-500 hover:bg-rose-600 rounded-lg hover:font-medium">
                        <i class="h-full fa-solid fa-bookmark mr-2 px-2"></i>
                        <span class="px-2">Khuyến mại</span>
                    </button>
                </div>
                <div class="flex items-center">
                    <button
                        class="text-gray-600 flex items-center ml-3 px-1 py-1.5 bg-zinc-200 hover:bg-zinc-300 rounded-lg hover:font-medium mr-3">
                        <i class="fa-solid fa-file-import mr-2 px-2"></i>
                        <span class="px-2">Nhập excel</span>
                    </button>
                    <div>
                        <select
                            class="text-gray-600 flex items-center ml-3 px-1 py-1.5 bg-zinc-200 hover:bg-zinc-300 rounded-lg hover:font-medium cursor-pointer">
                            <option value="1" class="bg-white hover:bg-zinc-300">--Chọn kho mặc định--</option>
                            <option value="2" class="bg-white hover:bg-zinc-300">Kho chính</option>
                            <option value="3" class="bg-white hover:bg-zinc-300">Hàng NanoFrance</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="relative sm:rounded-lg mt-2" style="font-size: 12px">
                <table class="custom-table">
                    <thead class="custom-thead">
                        <tr class="row-customize">
                            <th scope="col" class="custom-th">#</th>
                            <th scope="col" class="custom-th">Mã SP</th>
                            <th scope="col" class="custom-th">Tên sản phẩm</th>
                            <th scope="col" class="custom-th">ĐVT</th>
                            <th scope="col" class="custom-th">Kho xuất</th>
                            <th scope="col" class="custom-th">
                                Số lượng
                                <!-- <span class="text-red-500">(Tổng: 0)</span> -->
                            </th>
                            <th scope="col" class="custom-th">Đơn giá</th>
                            <th scope="col" class="custom-th">Thành tiền</th>
                            <th scope="col" class="custom-th">Chiết khấu</th>
                            <th scope="col" class="custom-th">Tỷ lệ CK</th>
                            <th scope="col" class="custom-th">Ghi chú</th>
                            <th scope="col" class="custom-th">Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of listProduct; index as i" class="custom-tr">
                            <td class="custom-th">{{ i + 1 }}</td>
                            <td class="custom-th">{{ product.product.sku }}</td>
                            <td class="custom-th">{{ product.product.productName }}</td>
                            <td class="custom-th">{{ product.unit.unitName }}</td>
                            <td class="custom-th">{{ product.warehouse.warehouseName }}</td>
                            <td class="custom-th">{{ product.quantity }}</td>
                            <td class="custom-th">{{ product.unitPrice | currency: 'VND':'symbol' }}</td>
                            <td class="custom-th">{{ product.totalPrice | currency: 'VND':'symbol' }}</td>
                            <td class="custom-th">{{ product.discount | currency: 'VND':'symbol' }}</td>
                            <td class="custom-th">{{ product.discountRate | percent }}</td>
                            <td class="custom-th">{{ product.note }}</td>
                            <td class="custom-th" (click)="stopPropagation($event)">
                                <i class="fa-solid fa-trash text-sm cursor-pointer hover:opacity-70"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-tab>
    </mat-tab-group>
    <div>
        <div class="flex justify-between">
            <span class="font-medium w-1/3 py-2">Bằng chữ: Chưa biết tính ra nhưu nào</span>
            <span class="font-medium w-1/3 py-2">
                Tổng tiền hàng:
                <span class="font-normal ml-4">{{ detailOrderFakeData.totalAmount | currency: 'VND':'symbol' }}</span>
            </span>
        </div>
        <div class="flex justify-between">
            <span class="font-medium w-1/3 py-2 text-green-700">
                Hạn mức công nợ:
                <span class="font-normal ml-4">{{ detailOrderFakeData.debtLimit | currency: 'VND':'symbol' }}</span>
            </span>
            <span class="font-medium w-1/3 py-2">
                Tổng tiền VAT:
                <span class="font-normal ml-4">{{ detailOrderFakeData.totalOfVAT | currency: 'VND':'symbol' }}</span>
            </span>
        </div>
        <div class="flex justify-between">
            <span class="font-medium w-1/3 py-2 text-green-700">
                Dư nợ hiện tại:
                <span class="font-normal ml-4">{{ detailOrderFakeData.debtCurrent | currency: 'VND':'symbol' }}</span>
            </span>
            <span class="font-medium w-1/3 py-2">
                Chiết khấu sản phẩm:
                <span class="font-normal ml-4">
                    {{ detailOrderFakeData.totalDiscountProduct | currency: 'VND':'symbol' }}
                </span>
            </span>
        </div>
        <div class="flex justify-between">
            <span class="font-medium w-1/3 py-2 text-green-700">
                Hình thức thanh toán:
                <span class="font-normal ml-4">{{ detailOrderFakeData.paymentMethod }}</span>
            </span>
            <span class="font-medium w-1/3 py-2">
                Chiết khấu đơn hàng:
                <span class="font-normal ml-4">{{ detailOrderFakeData.tradeDiscount | currency: 'VND':'symbol' }}</span>
            </span>
        </div>
        <div class="flex justify-between">
            <span class="font-medium w-1/3 py-2"></span>
            <span class="font-medium w-1/3 py-2">
                Phải thanh toán:
                <span class="font-normal ml-4">{{ detailOrderFakeData.totalPayment | currency: 'VND':'symbol' }}</span>
            </span>
        </div>
        <div class="flex justify-between">
            <span class="font-medium w-1/3 py-2"></span>
            <span class="font-medium w-1/3 py-2">
                Thanh toán trước:
                <span class="font-normal ml-4">{{ detailOrderFakeData.prePayment | currency: 'VND':'symbol' }}</span>
            </span>
        </div>
    </div>
</form>
