<form [formGroup]="detailOrderForm" class="p-3 w-full">
    <div style="font-size: 12px">
        <div class="flex gap-x-6 justify-between">
            <mat-form-field class="w-full" appearance="outline" floatLabel="always">
                <mat-label>Mã phiếu</mat-label>
                <input matInput [readonly]="true" formControlName="orderCode" />
            </mat-form-field>
            <mat-form-field class="w-full" appearance="outline" floatLabel="always">
                <mat-label>Trạng thái</mat-label>
                <mat-select formControlName="status" [disabled]="type === 'View'">
                    <mat-option *ngFor="let status of statusList" [value]="status.value">
                        {{ status.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="w-full" appearance="outline" floatLabel="always">
                <mat-label>Ngày đặt</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="orderDate" [disabled]="type === 'View'" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="w-full" appearance="outline" floatLabel="always">
                <mat-label>Ngày giao</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="deliveryDate" [disabled]="type === 'View'" />
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="flex gap-x-6 justify-between">
            <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                <mat-label>Nhóm</mat-label>
                <mat-select formControlName="groupId" [disabled]="type === 'View'">
                    <!-- <input placeholder="Tìm kiếm..." style="padding-left: 12px" matInput class="h-10 rounded-sm" /> -->
                    <mat-option *ngFor="let group of listGroup" [value]="group.id">
                        {{ group.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                <mat-label>Nhân viên đặt</mat-label>
                <mat-select [disabled]="type === 'View'" formControlName="orderEmployee">
                    <input
                        (input)="searchListEmployee($event)"
                        placeholder="Tìm kiếm..."
                        style="padding-left: 12px"
                        matInput
                        class="h-10 rounded-sm" />
                    <mat-option *ngIf="defaultOrderEmployee" [value]="defaultOrderEmployee.id">
                        {{ defaultOrderEmployee.employeeCode }} - {{ defaultOrderEmployee.employeeName }}
                    </mat-option>
                    <mat-option *ngFor="let employee of listEmployee" [value]="employee.id">
                        {{ employee.employeeName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                <mat-label>Tuyến</mat-label>
                <mat-select formControlName="routeId" [disabled]="type === 'View'">
                    <mat-option *ngFor="let route of listRoute" [value]="route.id">
                        {{ route.routeName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="flex gap-x-6 justify-between" formGroupName="customer">
            <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                <mat-label>Mã khách hàng</mat-label>
                <mat-select
                    [disabled]="type === 'View'"
                    formControlName="code"
                    (selectionChange)="setInfoCustomer($event.value); setRouteGroupAndEmployee($event.value)">
                    <input
                        (input)="searchListCustomer($event)"
                        placeholder="Tìm kiếm..."
                        style="padding-left: 12px"
                        matInput
                        class="h-10 rounded-sm" />
                    <mat-option
                        (click)="setRouteGroupAndEmployee(defaultCustomer?.id)"
                        *ngIf="defaultCustomer"
                        [value]="defaultCustomer?.id">
                        {{ defaultCustomer?.customerCode }} - {{ defaultCustomer?.customerName }}
                    </mat-option>
                    <mat-option *ngFor="let customer of listCustomer" [value]="customer.id">
                        {{ customer.customerCode }} - {{ customer.customerName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="w-full" appearance="outline" floatLabel="always">
                <mat-label>Khách hàng</mat-label>
                <input [readonly]="type === 'View'" matInput formControlName="name" />
            </mat-form-field>
            <div class="flex gap-x-6 justify-between">
                <mat-form-field class="w-1/3" appearance="outline" floatLabel="always">
                    <mat-label>SĐT</mat-label>
                    <input [readonly]="type === 'View'" matInput formControlName="phone" />
                </mat-form-field>
                <mat-form-field class="w-full" appearance="outline" floatLabel="always">
                    <mat-label>Địa chỉ</mat-label>
                    <input [readonly]="type === 'View'" matInput formControlName="address" />
                </mat-form-field>
            </div>
        </div>
        <mat-form-field class="w-full" appearance="outline" floatLabel="always">
            <mat-label>Diễn giải</mat-label>
            <textarea [readonly]="type === 'View'" matInput formControlName="description"></textarea>
        </mat-form-field>
    </div>
    <mat-tab-group>
        <!-- Sản phẩm đặt hàng -->
        <mat-tab label="Sản phẩm đặt hàng">
            <div class="flex items-center mt-2 justify-between">
                <div class="flex items-center">
                    <mat-form-field
                        *ngIf="type === 'Edit'"
                        style="font-size: 8px; padding-bottom: 0px"
                        appearance="outline">
                        <mat-label style="font-size: 14px">Search</mat-label>
                        <mat-select style="font-size: 12px">
                            <input
                                (input)="searchListProductActive($event)"
                                placeholder="Tìm kiếm..."
                                style="padding-left: 12px"
                                matInput
                                class="h-10 rounded-sm" />
                            <mat-option [value]="0">--Chọn sản phẩm--</mat-option>
                            <mat-option
                                (click)="addProductBySearch(product)"
                                style="height: 50px"
                                class="flex flex-col"
                                *ngFor="let product of listSearchedProduct">
                                <div>{{ product?.sku }} - {{ product.productName }}</div>
                                <div class="mt-[-16px]">
                                    Giá: {{ product?.price }} - Giá lẻ: {{ product?.retailPrice }}
                                </div>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button
                        *ngIf="type === 'Edit'"
                        (click)="openDialogProduct()"
                        class="text-gray-600 flex items-center ml-3 px-1 py-1.5 bg-zinc-200 hover:bg-zinc-300 rounded-lg hover:font-medium">
                        <i class="fa-solid fa-filter mr-2 px-2"></i>
                        <span class="px-2">Tìm kiếm nâng cao</span>
                    </button>
                    <button
                        class="text-white flex items-center ml-3 px-1 py-1.5 bg-rose-500 hover:bg-rose-600 rounded-lg hover:font-medium">
                        <i class="h-full fa-solid fa-bookmark mr-2 px-2"></i>
                        <span class="px-2">Khuyến mại</span>
                    </button>
                </div>
                <div class="flex items-center">
                    <button
                        class="text-gray-600 flex items-center ml-3 px-1 py-1.5 bg-zinc-200 hover:bg-zinc-300 rounded-lg hover:font-medium mr-3">
                        <i class="fa-solid fa-file-import mr-2 px-2"></i>
                        <span class="px-2">Nhập excel</span>
                    </button>
                    <div>
                        <mat-select
                            style="width: fit-content"
                            (selectionChange)="setWareHouseToAllProduct($event.value)"
                            [disabled]="type === 'View'"
                            class="text-gray-600 flex items-center ml-3 px-1 py-1.5 bg-zinc-200 hover:bg-zinc-300 rounded-lg hover:font-medium cursor-pointer"
                            [value]="0">
                            <mat-option [value]="0" class="bg-white hover:bg-zinc-300">
                                --Chọn kho mặc định--
                            </mat-option>
                            <mat-option
                                *ngFor="let warehouse of listWarehouse"
                                [value]="warehouse.id"
                                class="bg-white hover:bg-zinc-300">
                                {{ warehouse.warehouseName }}
                            </mat-option>
                            <option value="3" class="bg-white hover:bg-zinc-300">Hàng NanoFrance</option>
                        </mat-select>
                    </div>
                </div>
            </div>
            <div class="relative sm:rounded-lg mt-2" style="font-size: 12px">
                <table class="custom-table">
                    <thead class="custom-thead">
                        <tr class="row-customize">
                            <th scope="col" class="custom-th">#</th>
                            <th scope="col" class="custom-th">Mã SP</th>
                            <th scope="col" class="custom-th">Tên sản phẩm</th>
                            <th scope="col" class="custom-th">ĐVT</th>
                            <th scope="col" class="custom-th">Kho xuất</th>
                            <th scope="col" class="custom-th">
                                Số lượng
                                <!-- <span class="text-red-500">(Tổng: 0)</span> -->
                            </th>
                            <th scope="col" class="custom-th">Đơn giá</th>
                            <th scope="col" class="custom-th">Thành tiền</th>
                            <th scope="col" class="custom-th">Chiết khấu (VNĐ)</th>
                            <th scope="col" class="custom-th">Tỷ lệ CK (%)</th>
                            <th scope="col" class="custom-th">Ghi chú</th>
                            <th *ngIf="type === 'Edit'" scope="col" class="custom-th">Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- list available product -->
                        <tr *ngFor="let product of listProduct; index as i" class="custom-tr">
                            <td class="custom-th">{{ i + 1 }}</td>
                            <td class="custom-th">{{ product.product.sku }}</td>
                            <td class="custom-th">{{ product.product.productName }}</td>
                            <td class="custom-th">
                                <!-- <span *ngIf="type === 'View'">
                                    {{ product.unit.unitName }}
                                </span> -->
                                <span>
                                    {{ product.unit.unitName }}
                                </span>
                                <!-- <mat-form-field
                                    *ngIf="type === 'Edit'"
                                    appearance="outline"
                                    floatLabel="always"
                                    style="width: 100px">
                                    <mat-select [value]="product.unit.id">
                                        <mat-option
                                            (click)="
                                                product.unitId = product?.product?.retailUnit?.id;
                                                product.unitPrice = product.product.retailPrice;
                                                product.totalPrice = product.quantity * product.unitPrice;
                                                discountRate(product)
                                            "
                                            [value]="product?.product?.retailUnit?.id">
                                            Lẻ - {{ product?.product?.retailUnit?.unitName || 'No Data' }}
                                        </mat-option>
                                        <mat-option
                                            (click)="
                                                product.unitId = product?.product?.wholeSaleUnit?.id;
                                                product.unitPrice = product.product.price;
                                                product.totalPrice = product.quantity * product.unitPrice;
                                                discountRate(product)
                                            "
                                            [value]="product?.product?.wholeSaleUnit?.id">
                                            Chẵn - {{ product?.product?.wholeSaleUnit?.unitName || 'No Data' }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                            </td>
                            <td class="custom-th">
                                <!-- <div *ngIf="type === 'View'">{{ product.warehouse?.warehouseName }}</div> -->
                                <div>{{ product.warehouse?.warehouseName }}</div>
                                <!-- <mat-form-field
                                    *ngIf="type === 'Edit'"
                                    appearance="outline"
                                    floatLabel="always"
                                    style="width: 100px">
                                    <mat-select
                                        [value]="product.warehouseId"
                                        (selectionChange)="product.warehouseId = $event.value">
                                        <mat-option *ngFor="let warehouse of listWarehouse" [value]="warehouse.id">
                                            {{ warehouse.warehouseName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                            </td>
                            <td class="custom-th">
                                <div *ngIf="type === 'View'">{{ product.quantity }}</div>
                                <mat-form-field
                                    *ngIf="type === 'Edit'"
                                    appearance="outline"
                                    style="width: 80px"
                                    floatLabel="always">
                                    <input
                                        min="0"
                                        type="number"
                                        matInput
                                        [(ngModel)]="product.quantity"
                                        (input)="
                                            product.totalPrice = product.quantity * product.unitPrice;
                                            discountRate(product)
                                        "
                                        [ngModelOptions]="{ standalone: true }" />
                                </mat-form-field>
                            </td>
                            <td class="custom-th">{{ product.unitPrice | currency: 'VND':'symbol' }}</td>
                            <td class="custom-th">{{ product.totalPrice | currency: 'VND':'symbol' }}</td>
                            <td class="custom-th">
                                <div *ngIf="type === 'View'">
                                    {{ product.discount | currency: 'VND':'symbol' }}
                                </div>
                                <mat-form-field
                                    *ngIf="type === 'Edit'"
                                    appearance="outline"
                                    style="width: 80px"
                                    floatLabel="always">
                                    <input
                                        min="0"
                                        type="number"
                                        matInput
                                        [(ngModel)]="product.discount"
                                        (input)="discountRate(product)"
                                        [ngModelOptions]="{ standalone: true }" />
                                </mat-form-field>
                            </td>
                            <td class="custom-th">
                                <span *ngIf="type === 'View'">{{ product.discountRate / 100 | percent: '0.1' }}</span>
                                <mat-form-field
                                    *ngIf="type === 'Edit'"
                                    appearance="outline"
                                    style="width: 80px"
                                    floatLabel="always">
                                    <input
                                        min="0"
                                        type="number"
                                        matInput
                                        (input)="countDiscount(product)"
                                        [(ngModel)]="product.discountRate"
                                        [ngModelOptions]="{ standalone: true }" />
                                </mat-form-field>
                            </td>
                            <td class="custom-th">
                                <div *ngIf="type === 'View'">
                                    {{ product.note }}
                                </div>
                                <mat-form-field
                                    *ngIf="type === 'Edit'"
                                    appearance="outline"
                                    style="width: 80px"
                                    floatLabel="always">
                                    <input
                                        type="text"
                                        matInput
                                        [(ngModel)]="product.note"
                                        [ngModelOptions]="{ standalone: true }" />
                                </mat-form-field>
                            </td>
                            <td
                                *ngIf="type === 'Edit'"
                                class="custom-th"
                                (click)="stopPropagation($event); unChoose(product)">
                                <i class="fa-solid fa-trash text-sm cursor-pointer hover:opacity-70"></i>
                            </td>
                        </tr>
                        <!-- list add product -->
                        <tr *ngFor="let product of listProductAdd; index as i" class="custom-tr">
                            <td class="custom-th">{{ i + 1 }}</td>
                            <td class="custom-th">{{ product.product.sku }}</td>
                            <td class="custom-th">{{ product.product.productName }}</td>
                            <td class="custom-th">
                                <span *ngIf="type === 'View'">
                                    {{ product.unit.unitName }}
                                </span>
                                <mat-form-field
                                    *ngIf="type === 'Edit'"
                                    appearance="outline"
                                    floatLabel="always"
                                    style="width: 100px">
                                    <mat-select [value]="product.unit.id">
                                        <mat-option
                                            (click)="
                                                product.unitId = product?.product?.retailUnit?.id;
                                                product.unitPrice = product.product.retailPrice;
                                                product.totalPrice = product.quantity * product.unitPrice;
                                                discountRate(product)
                                            "
                                            [value]="product?.product?.retailUnit?.id">
                                            Lẻ - {{ product?.product?.retailUnit?.unitName || 'No Data' }}
                                        </mat-option>
                                        <mat-option
                                            (click)="
                                                product.unitId = product?.product?.wholeSaleUnit?.id;
                                                product.unitPrice = product.product.price;
                                                product.totalPrice = product.quantity * product.unitPrice;
                                                discountRate(product)
                                            "
                                            [value]="product?.product?.wholeSaleUnit?.id">
                                            Chẵn - {{ product?.product?.wholeSaleUnit?.unitName || 'No Data' }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td class="custom-th">
                                <div *ngIf="type === 'View'">{{ product.warehouse?.warehouseName }}</div>
                                <mat-form-field
                                    *ngIf="type === 'Edit'"
                                    appearance="outline"
                                    floatLabel="always"
                                    style="width: 100px">
                                    <mat-select
                                        [value]="product.warehouseId"
                                        (selectionChange)="product.warehouseId = $event.value">
                                        <mat-option *ngFor="let warehouse of listWarehouse" [value]="warehouse.id">
                                            {{ warehouse.warehouseName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td class="custom-th">
                                <div *ngIf="type === 'View'">{{ product.quantity }}</div>
                                <mat-form-field
                                    *ngIf="type === 'Edit'"
                                    appearance="outline"
                                    style="width: 80px"
                                    floatLabel="always">
                                    <input
                                        min="0"
                                        type="number"
                                        matInput
                                        [(ngModel)]="product.quantity"
                                        (input)="
                                            product.totalPrice = product.quantity * product.unitPrice;
                                            discountRate(product)
                                        "
                                        [ngModelOptions]="{ standalone: true }" />
                                </mat-form-field>
                            </td>
                            <td class="custom-th">{{ product.unitPrice | currency: 'VND':'symbol' }}</td>
                            <td class="custom-th">{{ product.totalPrice | currency: 'VND':'symbol' }}</td>
                            <td class="custom-th">
                                <div *ngIf="type === 'View'">{{ product.discount }}</div>
                                <mat-form-field
                                    *ngIf="type === 'Edit'"
                                    appearance="outline"
                                    style="width: 80px"
                                    floatLabel="always">
                                    <input
                                        min="0"
                                        type="number"
                                        matInput
                                        [(ngModel)]="product.discount"
                                        (input)="discountRate(product)"
                                        [ngModelOptions]="{ standalone: true }" />
                                </mat-form-field>
                            </td>
                            <td class="custom-th">
                                <span *ngIf="type === 'View'">{{ product.discountRate / 100 | percent }}</span>
                                <mat-form-field
                                    *ngIf="type === 'Edit'"
                                    appearance="outline"
                                    style="width: 80px"
                                    floatLabel="always">
                                    <input
                                        min="0"
                                        type="number"
                                        matInput
                                        (input)="countDiscount(product)"
                                        [(ngModel)]="product.discountRate"
                                        [ngModelOptions]="{ standalone: true }" />
                                </mat-form-field>
                            </td>
                            <td class="custom-th">
                                <div *ngIf="type === 'View'">
                                    {{ product.note }}
                                </div>
                                <mat-form-field
                                    *ngIf="type === 'Edit'"
                                    appearance="outline"
                                    style="width: 80px"
                                    floatLabel="always">
                                    <input
                                        type="text"
                                        matInput
                                        [(ngModel)]="product.note"
                                        [ngModelOptions]="{ standalone: true }" />
                                </mat-form-field>
                            </td>
                            <td
                                *ngIf="type === 'Edit'"
                                class="custom-th"
                                (click)="stopPropagation($event); unChooseFromListAdd(product)">
                                <i class="fa-solid fa-trash text-sm cursor-pointer hover:opacity-70"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-tab>
        <!-- Sản phẩm khuyến mại -->
        <mat-tab label="Sản phẩm khuyến mại">
            <div class="flex items-center mt-2 justify-between">
                <div class="flex items-center">
                    <mat-form-field
                        *ngIf="type === 'Edit'"
                        style="font-size: 8px; padding-bottom: 0px"
                        appearance="outline">
                        <mat-label style="font-size: 14px">Search</mat-label>
                        <mat-select style="font-size: 12px">
                            <input
                                (input)="searchListProductActive($event)"
                                placeholder="Tìm kiếm..."
                                style="padding-left: 12px"
                                matInput
                                class="h-10 rounded-sm" />
                            <mat-option [value]="0">--Chọn sản phẩm--</mat-option>
                            <mat-option
                                (click)="addProductPromotionBySearch(product)"
                                style="height: 50px"
                                class="flex flex-col"
                                *ngFor="let product of listSearchedProduct">
                                <div>{{ product?.sku }} - {{ product.productName }}</div>
                                <div class="mt-[-16px]">
                                    Giá: {{ product?.price }} - Giá lẻ: {{ product?.retailPrice }}
                                </div>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button
                        *ngIf="type === 'Edit'"
                        (click)="openDialogProductPromotion()"
                        class="text-gray-600 flex items-center ml-3 px-1 py-1.5 bg-zinc-200 hover:bg-zinc-300 rounded-lg hover:font-medium">
                        <i class="fa-solid fa-filter mr-2 px-2"></i>
                        <span class="px-2">Tìm kiếm nâng cao</span>
                    </button>
                    <button
                        class="text-white flex items-center ml-3 px-1 py-1.5 bg-rose-500 hover:bg-rose-600 rounded-lg hover:font-medium">
                        <i class="h-full fa-solid fa-bookmark mr-2 px-2"></i>
                        <span class="px-2">Khuyến mại</span>
                    </button>
                </div>
                <div class="flex items-center">
                    <button
                        class="text-gray-600 flex items-center ml-3 px-1 py-1.5 bg-zinc-200 hover:bg-zinc-300 rounded-lg hover:font-medium mr-3">
                        <i class="fa-solid fa-file-import mr-2 px-2"></i>
                        <span class="px-2">Nhập excel</span>
                    </button>
                    <div>
                        <mat-select
                            style="width: fit-content"
                            (selectionChange)="setWareHouseToAllProductPromotion($event.value)"
                            [disabled]="type === 'View'"
                            class="text-gray-600 flex items-center ml-3 px-1 py-1.5 bg-zinc-200 hover:bg-zinc-300 rounded-lg hover:font-medium cursor-pointer"
                            [value]="0">
                            <mat-option [value]="0" class="bg-white hover:bg-zinc-300">
                                --Chọn kho mặc định--
                            </mat-option>
                            <mat-option
                                *ngFor="let warehouse of listWarehouse"
                                [value]="warehouse.id"
                                class="bg-white hover:bg-zinc-300">
                                {{ warehouse.warehouseName }}
                            </mat-option>
                            <option value="3" class="bg-white hover:bg-zinc-300">Hàng NanoFrance</option>
                        </mat-select>
                    </div>
                </div>
            </div>
            <div class="relative sm:rounded-lg mt-2" style="font-size: 12px">
                <table class="custom-table">
                    <thead class="custom-thead">
                        <tr class="row-customize">
                            <th scope="col" class="custom-th">#</th>
                            <th scope="col" class="custom-th">Mã SP</th>
                            <th scope="col" class="custom-th">Tên sản phẩm</th>
                            <th scope="col" class="custom-th">ĐVT</th>
                            <th scope="col" class="custom-th">Kho xuất</th>
                            <th scope="col" class="custom-th">
                                Số lượng
                                <!-- <span class="text-red-500">(Tổng: 0)</span> -->
                            </th>
                            <th scope="col" class="custom-th">Ghi chú</th>
                            <th *ngIf="type === 'Edit'" scope="col" class="custom-th">Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- list available product promotion -->
                        <tr *ngFor="let product of listPromotionProduct; index as i" class="custom-tr">
                            <td class="custom-th">{{ i + 1 }}</td>
                            <td class="custom-th">{{ product.product.sku }}</td>
                            <td class="custom-th">{{ product.product.productName }}</td>
                            <td class="custom-th">
                                <!-- <span *ngIf="type === 'View'">
                                    {{ product.unit.unitName }}
                                </span> -->
                                <span>
                                    {{ product.unit.unitName }}
                                </span>
                                <!-- <mat-form-field
                                    *ngIf="type === 'Edit'"
                                    appearance="outline"
                                    floatLabel="always"
                                    style="width: 100px">
                                    <mat-select [value]="product.unit.id">
                                        <mat-option
                                            (click)="
                                                product.unitId = product?.product?.retailUnit?.id;
                                                product.unitPrice = product.product.retailPrice;
                                                product.totalPrice = product.quantity * product.unitPrice;
                                                discountRate(product)
                                            "
                                            [value]="product?.product?.retailUnit?.id">
                                            Lẻ - {{ product?.product?.retailUnit?.unitName || 'No Data' }}
                                        </mat-option>
                                        <mat-option
                                            (click)="
                                                product.unitId = product?.product?.wholeSaleUnit?.id;
                                                product.unitPrice = product.product.price;
                                                product.totalPrice = product.quantity * product.unitPrice;
                                                discountRate(product)
                                            "
                                            [value]="product?.product?.wholeSaleUnit?.id">
                                            Chẵn - {{ product?.product?.wholeSaleUnit?.unitName || 'No Data' }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                            </td>
                            <td class="custom-th">
                                <!-- <div *ngIf="type === 'View'">{{ product.warehouse?.warehouseName }}</div> -->
                                <div>{{ product.warehouse?.warehouseName }}</div>
                                <!-- <mat-form-field
                                    *ngIf="type === 'Edit'"
                                    appearance="outline"
                                    floatLabel="always"
                                    style="width: 100px">
                                    <mat-select
                                        [value]="product.warehouseId"
                                        (selectionChange)="product.warehouseId = $event.value">
                                        <mat-option *ngFor="let warehouse of listWarehouse" [value]="warehouse.id">
                                            {{ warehouse.warehouseName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                            </td>
                            <td class="custom-th">
                                <div *ngIf="type === 'View'">{{ product.quantity }}</div>
                                <mat-form-field
                                    *ngIf="type === 'Edit'"
                                    appearance="outline"
                                    style="width: 80px"
                                    floatLabel="always">
                                    <input
                                        min="0"
                                        type="number"
                                        matInput
                                        [(ngModel)]="product.quantity"
                                        (input)="
                                            product.totalPrice = product.quantity * product.unitPrice;
                                            discountRate(product)
                                        "
                                        [ngModelOptions]="{ standalone: true }" />
                                </mat-form-field>
                            </td>
                            <td class="custom-th">
                                <div *ngIf="type === 'View'">
                                    {{ product.note }}
                                </div>
                                <mat-form-field
                                    *ngIf="type === 'Edit'"
                                    appearance="outline"
                                    style="width: 80px"
                                    floatLabel="always">
                                    <input
                                        type="text"
                                        matInput
                                        [(ngModel)]="product.note"
                                        [ngModelOptions]="{ standalone: true }" />
                                </mat-form-field>
                            </td>
                            <td
                                *ngIf="type === 'Edit'"
                                class="custom-th"
                                (click)="stopPropagation($event); unChoosePromotion(product)">
                                <i class="fa-solid fa-trash text-sm cursor-pointer hover:opacity-70"></i>
                            </td>
                        </tr>
                        <!-- list add product promotion -->
                        <tr *ngFor="let product of listPromotionProductAdd; index as i" class="custom-tr">
                            <td class="custom-th">{{ i + 1 }}</td>
                            <td class="custom-th">{{ product.product.sku }}</td>
                            <td class="custom-th">{{ product.product.productName }}</td>
                            <td class="custom-th">
                                <span *ngIf="type === 'View'">
                                    {{ product.unit.unitName }}
                                </span>
                                <mat-form-field
                                    *ngIf="type === 'Edit'"
                                    appearance="outline"
                                    floatLabel="always"
                                    style="width: 100px">
                                    <mat-select [value]="product.unit.id">
                                        <mat-option
                                            (click)="
                                                product.unitId = product?.product?.retailUnit?.id;
                                                product.unitPrice = product.product.retailPrice;
                                                product.totalPrice = product.quantity * product.unitPrice;
                                                discountRate(product)
                                            "
                                            [value]="product?.product?.retailUnit?.id">
                                            Lẻ - {{ product?.product?.retailUnit?.unitName || 'No Data' }}
                                        </mat-option>
                                        <mat-option
                                            (click)="
                                                product.unitId = product?.product?.wholeSaleUnit?.id;
                                                product.unitPrice = product.product.price;
                                                product.totalPrice = product.quantity * product.unitPrice;
                                                discountRate(product)
                                            "
                                            [value]="product?.product?.wholeSaleUnit?.id">
                                            Chẵn - {{ product?.product?.wholeSaleUnit?.unitName || 'No Data' }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td class="custom-th">
                                <div *ngIf="type === 'View'">{{ product.warehouse?.warehouseName }}</div>
                                <mat-form-field
                                    *ngIf="type === 'Edit'"
                                    appearance="outline"
                                    floatLabel="always"
                                    style="width: 100px">
                                    <mat-select
                                        [value]="product.warehouseId"
                                        (selectionChange)="product.warehouseId = $event.value">
                                        <mat-option *ngFor="let warehouse of listWarehouse" [value]="warehouse.id">
                                            {{ warehouse.warehouseName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td class="custom-th">
                                <div *ngIf="type === 'View'">{{ product.quantity }}</div>
                                <mat-form-field
                                    *ngIf="type === 'Edit'"
                                    appearance="outline"
                                    style="width: 80px"
                                    floatLabel="always">
                                    <input
                                        min="0"
                                        type="number"
                                        matInput
                                        [(ngModel)]="product.quantity"
                                        (input)="
                                            product.totalPrice = product.quantity * product.unitPrice;
                                            discountRate(product)
                                        "
                                        [ngModelOptions]="{ standalone: true }" />
                                </mat-form-field>
                            </td>
                            <td class="custom-th">
                                <div *ngIf="type === 'View'">
                                    {{ product.note }}
                                </div>
                                <mat-form-field
                                    *ngIf="type === 'Edit'"
                                    appearance="outline"
                                    style="width: 80px"
                                    floatLabel="always">
                                    <input
                                        type="text"
                                        matInput
                                        [(ngModel)]="product.note"
                                        [ngModelOptions]="{ standalone: true }" />
                                </mat-form-field>
                            </td>
                            <td
                                *ngIf="type === 'Edit'"
                                class="custom-th"
                                (click)="stopPropagation($event); unChooseFromListAddPromotion(product)">
                                <i class="fa-solid fa-trash text-sm cursor-pointer hover:opacity-70"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-tab>
    </mat-tab-group>
    <div class="grid grid-cols-3 w-full gap-y-5 mt-6">
        <div class="grid grid-cols-4 col-span-2">
            <span class="font-medium">Bằng chữ:</span>
            <span class="col-span-3">
                <span *ngIf="textMoney">{{ textMoney }} đồng</span>
            </span>
        </div>
        <div class="grid grid-cols-2">
            <span class="font-medium">Tổng tiền hàng:</span>
            <span class="font-normal">{{ totalAmount | currency: 'VND' }}</span>
        </div>
        <div class="grid grid-cols-4 col-span-2 text-green-600">
            <span class="font-medium">Hạn mức dư nợ:</span>
            <span class="col-span-3">{{ debtLimit }}</span>
        </div>
        <div class="grid grid-cols-2">
            <span class="font-medium">Chiết khấu sản phẩm:</span>
            <span class="font-normal">
                {{ totalDiscountProduct | currency: 'VND' }}
            </span>
        </div>
        <div class="grid grid-cols-4 col-span-2 text-green-600">
            <span class="font-medium">Dư nợ hiện tại:</span>
            <span class="col-span-3"></span>
        </div>
        <div class="grid grid-cols-2">
            <span class="font-medium">Chiết khấu đơn hàng:</span>
            <span class="font-normal">
                <input
                    class="border-b border-gray-700"
                    type="number"
                    [(ngModel)]="tradeDiscount"
                    [ngModelOptions]="{ standalone: true }" />
            </span>
        </div>
        <div class="grid grid-cols-4 col-span-2 text-green-600">
            <span class="font-medium">Hình thức thanh toán:</span>
            <span class="col-span-3">Thanh toán trực tiếp</span>
        </div>
        <div class="grid grid-cols-2">
            <span class="font-medium">Phải thanh toán:</span>
            <span class="font-normal">
                {{ totalPayment | currency: 'VND' }}
            </span>
        </div>
        <div class="grid grid-cols-4 col-span-2"></div>
        <span class="grid grid-cols-2">
            <span class="font-medium">Thanh toán trước:</span>
            <span class="font-normal">
                <input
                    class="border-b border-gray-700"
                    type="number"
                    [(ngModel)]="prePayment"
                    [ngModelOptions]="{ standalone: true }" />
            </span>
        </span>
    </div>
</form>
