<div class="w-full flex px-4 h-16 justify-between">
  <div class="h-full w-40 mt-2 flex items-start">
    <span class="font-medium text-base text-black">{{props.label}}</span>
  </div>
  <div class="flex flex-col w-96">
    <div class="w-full mb-1 h-10 flex items-center">
      <ng-container #fieldComponent></ng-container>
    </div>
    <span class="ml-6 text-red-600" *ngIf="showError && validationMessage.errorMessage">
      {{ validationMessage.errorMessage }}
    </span>
  </div>
  <formly-validation-message #validationMessage [field]="field" [style.display]="'none'">
  </formly-validation-message>
</div>
