<mat-drawer-container [hasBackdrop]="false" class="fixed top-0 left-0 right-0 bottom-0 min-h-screen">
    <mat-drawer #sidenav mode="side" class="fixed top-16 left-0 bottom-0 overflow-y-auto z-10">
        <app-template-sidebar (showSidebar$)="sidenav.toggle()"></app-template-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <div [ngClass]="{ 'ml-10': !sidenav?.opened }" class="ml-10 px-5">
            <div *ngIf="!sidenav?.opened" class="fixed top-16 left-0 bottom-0 bg-white min-h-screen p-2 border-r">
                <div class="py-1 px-1.5 bg-zinc-300 rounded cursor-pointer" (click)="sidenav.toggle()">
                    <i class="w-1/12 fa-solid fa-bars text-sm cursor-pointer hover:opacity-70"></i>
                </div>
            </div>
            <app-template-header></app-template-header>
            <app-template-table></app-template-table>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
