<div class="bg-white w-full sticky top-0 z-10">
    <div class="p-3 w-full flex justify-between items-center">
        <span style="font-size: 20px !important" class="font-medium">Thêm mới phiếu bán hàng</span>
        <div class="flex items-center">
            <button class="button-primary-sm flex items-center justify-between mr-2">
                <i class="fa-solid fa-check text-white mr-2"></i>
                <span class="text-white">Lưu</span>
            </button>
            <button [routerLink]="['/order/purchase/detail/viewEdit']" class="button-danger">
                <i class="fa-solid fa-ban text-white mr-2"></i>
                <span class="text-white">Đóng</span>
            </button>
        </div>
    </div>
    <mat-divider></mat-divider>
</div>
<div>
    <app-template-infor-order [option]="option" [data]="detailPassToInput"></app-template-infor-order>
    <div class="px-4">
        <app-template-table-product
            [orderType]="'Sale'"
            [typeTable]="'Product'"
            [title]="'Sản phẩm đặt hàng'"
            [list]="listProduct$ | async"></app-template-table-product>
        <app-template-table-product
            [orderType]="'Sale'"
            [typeTable]="'Promotion'"
            [title]="'Sản phẩm khuyến mại'"
            [list]="listPromotion$ | async"></app-template-table-product>
        <app-template-footer-order [order]="order"></app-template-footer-order>
    </div>
</div>
