<div class="relative mt-2" style="font-size: 12px">
  <table class="min-w-full border-spacing-0 border-separate bg-gray-300 z-10">
    <thead class="h-10  border-gray-300 ">
      <tr>
        <th scope="col"
          class="sticky top-0 z-10 border-b backdrop-blur bg-gray-100/50 backdrop-filter border-solid border-gray-300 px-2 border-x">
          #</th>
        <th scope="col"
          class="sticky top-0 z-10 border-b backdrop-blur bg-gray-100/50 backdrop-filter border-solid border-gray-300 px-2 border-x">
          Mã SP</th>
        <th scope="col"
          class="sticky top-0 z-10 border-b backdrop-blur bg-gray-100/50 backdrop-filter border-solid border-gray-300 px-2 border-x">
          Sản phẩm</th>
        <th scope="col"
          class="sticky top-0 z-10 border-b backdrop-blur bg-gray-100/50 backdrop-filter border-solid border-gray-300 px-2 border-x">
          ĐVT</th>
        <th scope="col"
          class="sticky top-0 z-10 border-b backdrop-blur bg-gray-100/50 backdrop-filter border-solid border-gray-300 px-2 border-x">
          Kho nhập</th>
        <th scope="col"
          class="sticky top-0 z-10 border-b backdrop-blur bg-gray-100/50 backdrop-filter border-solid border-gray-300 px-2 border-x">
          SL bán</th>
        <th scope="col"
          class="sticky top-0 z-10 border-b backdrop-blur bg-gray-100/50 backdrop-filter border-solid border-gray-300 px-2 border-x">
          VAT</th>
        <th scope="col"
          class="sticky top-0 z-10 border-b backdrop-blur max-w-[80px] bg-gray-100/50 backdrop-filter border-solid border-gray-300 px-2 border-x">
          SL trả
          <span class="text-red-500">(Tổng: {{productQuantitySum}})</span>
        </th>
        <th scope="col"
          class="sticky top-0 z-10 border-b backdrop-blur bg-gray-100/50 backdrop-filter border-solid border-gray-300 px-2 border-x">
          Đơn giá</th>
        <th scope="col"
          class="sticky top-0 z-10 border-b backdrop-blur bg-gray-100/50 backdrop-filter border-solid border-gray-300 px-2 border-x">
          Thành tiền</th>
        <th scope="col"
          class="sticky top-0 z-10 border-b backdrop-blur max-w-[80px] bg-gray-100/50 backdrop-filter border-solid border-gray-300 px-2 border-x">
          Chiết khấu</th>
        <th scope="col"
          class="sticky top-0 z-10 min-w-[200px] border-b backdrop-blur bg-gray-100/50 backdrop-filter border-solid border-gray-300 px-2 border-x">
          Ghi chú</th>
        <th scope="col"
          class="sticky top-0 z-10 border-b backdrop-blur bg-gray-100/50 backdrop-filter border-solid border-gray-300 px-2 border-x">
          Xóa</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productsInput;let i =index; let o=odd; let e=even;"
        [ngClass]="{ 'bg-gray-100': o, 'bg-white': e } " class="h-14 w-fit text-sm">
        <td class="space-x-2 border-x border-solid align-midde h-full pl-2">{{ i + 1 }}</td>
        <td class="border-x  border-solid align-middle px-2 text-center">{{item.sku}}</td>
        <td class="border-x  border-solid align-middle px-2 text-center">{{item.productName}}</td>
        <td class="border-x  border-solid align-middle px-2 max-w-[80px] text-[12px] text-center">
          <div class="flex">
            <mat-form-field appearance="outline">
              <mat-select [(ngModel)]="item.unitId">
                <mat-option *ngFor="let option of unitOptions" [value]="option.value">{{option.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </td>
        <td class="border-x max-w-[120px]  align-middle px-2 text-center">
          <div class="flex">
            <mat-form-field appearance="outline">
              <mat-select [(ngModel)]="item.warehouseId">
                <mat-option *ngFor="let option of warehouseOptions" [value]="option.value">{{option.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </td>
        <td class="border-x max-w-[80px]  border-solid align-middle px-2 text-center">
          <div class="flex">
            <mat-form-field appearance="outline">

              <input matInput currencyMask
                [options]="{ suffix: '', thousands: '.',prefix :'', decimal: ',' ,precision :0 ,allowNegative :false}"
                [ngModel]="item.salesQuantity" (ngModelChange)="item.salesQuantity=$event" />
            </mat-form-field>

          </div>
        </td>
        <td class="border-x  border-solid align-middle px-2 text-center">{{(item.vat?item.vat:0)/100 | percent}}
        </td>
        <td class="border-x max-w-[100px]  border-solid align-middle px-2 text-center">
          <div class="flex">
            <mat-form-field appearance="outline">
              <input matInput currencyMask
                [options]="{ suffix: '', thousands: '.',prefix :'', decimal: ',' ,precision :0 ,allowNegative :false}"
                [ngModel]="item.returnsQuantity"
                (ngModelChange)="item.returnsQuantity=$event;updateItemTotalPrice(item)" />
            </mat-form-field>

          </div>
        </td>
        <td class="border-x max-w-[120px]  border-solid align-middle px-2  text-center">
          <div class="flex">
            <mat-form-field appearance="outline">
              <input matInput currencyMask
                [options]="{ suffix: 'đ', thousands: '.',prefix :'', decimal: ',' ,precision :0 ,allowNegative :false}"
                [ngModel]="item.unitPrice"
                (ngModelChange)="item.unitPrice=$event;updateItemTotalPrice(item);updateDiscountRate(item);" />
            </mat-form-field>
          </div>
        </td>
        <td class="border-x  border-solid align-middle px-2 max-w-[80px] text-center">
          {{item.totalPrice | currency: 'VND'}}
        </td>
        <td class="border-x max-w-[120px]  border-solid align-middle px-2  text-center">
          <div class="flex">
            <mat-form-field appearance="outline">
              <input matInput currencyMask
                [options]="{ suffix: 'đ', thousands: '.',prefix :'', decimal: ',' ,precision :0 ,allowNegative :false}"
                [ngModel]="item.discount" (ngModelChange)="item.discount=$event;updateDiscountRate(item)" />
            </mat-form-field>
          </div>
        </td>
        <td class="border-x min-w-[200px]  border-solid align-middle px-2  text-center">
          <mat-form-field appearance="outline">
            <textarea matInput [rows]="1" [(ngModel)]="item.note"></textarea>
          </mat-form-field>
        </td>
        <td class="border-x  border-solid align-middle px-2 text-center" (click)="stopPropagation($event)">
          <i class="fa-solid fa-trash text-sm cursor-pointer hover:opacity-70"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <pre>Form values: {{ productsInput | json }}</pre> -->
</div>