<div class="w-full sm:flex sm:justify-center overflow-hidden">
  <div class="sm:w-[500px] min-h-screen overflow-hidden">
    <div class="w-full flex justify-center mt-10 mb-8">
      <img src="../../../../assets/images/logo.png" class="w-1/2" alt="" />
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="submit()" class="mx-[10px]">
      <div class="w-full text-center mb-3">
        <span class="text-2xl font-bold text-[#436C55]">ĐĂNG NHẬP</span>
      </div>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="username">
        <span matPrefix><i class="text-[#0EAF8F] fa-solid -translate-y-1 text-lg icon fa-user"></i></span>
        <mat-error class="text-red-500 font-bold" *ngIf="">
          <i class="fa-solid fa-circle-exclamation mr-2"></i>Không được để trống họ và tên.</mat-error>
      </mat-form-field>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Mật khẩu</mat-label>
        <input matInput type="password" formControlName="password">
        <span matPrefix><i class="text-[#0EAF8F] fa-solid -translate-y-1 text-lg icon fa-key"></i></span>
        <mat-error class="text-red-500 font-bold" *ngIf="">
          <i class="fa-solid fa-circle-exclamation mr-2"></i>Không được để trống mật khẩu.</mat-error>
      </mat-form-field>
      <div class="flex w-full justify-between mb-[16px]">
        <div class="flex items-center space-x-1">
          <input type="checkbox" class="checked:before:bg-[#0EAF8F] accent-[#0EAF8F]" formControlName="rememberMe" />
          <span>Ghi nhớ đăng nhập</span>
        </div>
        <div class="flex flex-col h-full justify-center align-middle text-red-500 font-medium cursor-pointer"
          [routerLink]="'../forgotpassword'"><span>Quên mật khẩu?</span></div>
      </div>
      <div class="flex justify-center mb-6">
        <button type="submit" mat-flat-button class="bg-[#0EAF8F] text-white text-lg font-medium">Đăng nhập</button>
      </div>
    </form>
    <div class="lg:flex justify-between lg:space-x-3 px-3 lg:px-0 space-y-4 text-center lg:space-y-0">
      <a type="button" mat-flat-button class="bg-[#0EAF8F] text-white font-medium w-3/5" href="{{downloadForAndroid}}"><i class="text-lg fa-brands fa-android mr-2"></i> Tải xuống cho Android</a>
      <a type="button" mat-flat-button class="bg-[#0EAF8F] text-white font-medium w-3/5" download [href]="getSafe()"><i class="text-lg fa-brands fa-apple h-fit mr-2"></i> <span>Tải xuống cho IOS</span></a>
    </div>
  </div>
</div>
