<div class="w-full px-3 py-2 break-words">
    Bạn có chắc chắn muốn xóa nhân viên này không? Lưu ý: khi bạn xóa thì các thông tin liên quan đến nhân viên (công việc, bán hàng...) vẫn còn trên hệ thống nhưng bạn sẽ không thể tìm kiếm được
</div>
<div class="flex flex-row justify-end items-center min-w-max w-full px-3 py-6 bg-gray-200">
    <div (click)="deleteEMP()"
        class="flex flex-row bg-blue-900 opacity-80 text-white justify-center items-center px-2 py-2 rounded-l-sm cursor-pointer">
        <span class="mx-2">Đồng ý</span>
    </div>
    <div mat-dialog-close
        class="flex flex-row bg-white opacity-80 justify-center items-center px-2 py-2 rounded-l-sm cursor-pointer">
        <span class="mx-2">Hủy</span>
    </div>
</div>