<div>
  <div class="w-full flex justify-between">
    <div class="flex flex-col justify-center">
      <span class="text-lg text-[#888] font-medium italic">{{customer.customerName}}</span>
    </div>
    <div class="flex justify-between w-[160px]">
      <button *ngIf="isChoseUpdated == false" mat-flat-button (click)="isChoseUpdated = !isChoseUpdated" class="bg-[#565869] text-white font-medium mx-1"><i class="fa-solid fa-pen mr-1"></i>Sửa</button>
      <button *ngIf="isChoseUpdated == true" mat-flat-button (click)="isChoseUpdated = !isChoseUpdated" class="bg-[#1891C9] text-white font-medium mx-1"><i class="fa-solid fa-circle-check mr-1"></i>Lưu</button>
      <button type="button" mat-stroked-button (click)="close()" class="text-[#565869] bg-white font-medium"><i class="fa-solid fa-trash mr-1"></i>Đóng</button>
    </div>
  </div>
  <hr class="my-2">
  <div class="w-full flex">
    <div class="w-2/12 justify-between menu-collapse ">
      <div class="w-full font-medium text-base">
        <i class="fa-regular fa-file-lines mr-2"></i><span>Thông tin chung</span>
      </div>
    </div>
    <div class="w-10/12">
      <div class="w-8/12 px-2 py-4 text-base">
        <div class="w-full flex mb-6">
            <div class="w-4/12 font-semibold">Kiểm tra trùng mã</div>
            <div class="w-8/12" *ngIf="isChoseUpdated === false"></div>
            <div class="w-8/12" *ngIf="isChoseUpdated === true">
              <mat-checkbox [color]="'primary'"></mat-checkbox>
            </div>
        </div>

        <div class="w-full flex mb-6">
          <div class="w-4/12 font-semibold flex flex-col justify-center">
            Mã khách hàng
          </div>
          <div class="w-8/12" *ngIf="isChoseUpdated === false">{{customer.customerId}}</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === true">
            <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" [(ngModel)]="customer.customerId">
          </div>
        </div>

        <div class="w-full flex mb-6">
          <div class="w-4/12 font-semibold flex flex-col justify-center">Khách hàng</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === false">{{customer.customerName}}</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === true">
            <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" [(ngModel)]="customer.customerName">
          </div>
        </div>

        <div class="w-full flex mb-6">
          <div class="w-4/12 font-semibold flex flex-col justify-center">Nhóm khách hàng</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === false">{{customer.customerGroupName}}</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === true">
            <select class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" [(ngModel)]="customer.customerGroupName">
              <option>{{customer.customerGroupName}}</option>
              <option>No Bug</option>
            </select>
          </div>
        </div>
        <div class="w-full flex mb-6">
          <div class="w-4/12 font-semibold flex flex-col justify-center">Loại khách hàng</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === false">{{customer.customerTypeName}}</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === true">
            <select class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" [(ngModel)]="customer.customerTypeName">
              <option>{{customer.customerTypeName}}</option>
              <option>No Bug</option>
            </select>
          </div>
        </div>
        <div class="w-full flex mb-6">
          <div class="w-4/12 font-semibold flex flex-col justify-center">Trạng thái</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === false">{{customer.status}}</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === true">
            <select class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" [(ngModel)]="customer.status">
              <option>{{customer.status}}</option>
              <option>No Bug</option>
            </select>
          </div>
        </div>
        <div class="w-full flex mb-6">
          <div class="w-4/12 font-semibold flex flex-col justify-center">Kênh</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === false">{{customer.channelName}}</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === true">
            <select class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" [(ngModel)]="customer.channelName">
              <option>{{customer.channelName}}</option>
              <option>No Bug</option>
            </select>
          </div>
        </div>
        <div class="w-full flex mb-6">
          <div class="w-4/12 font-semibold flex flex-col justify-center">Địa chỉ</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === false">{{customer.address}}</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === true">
            <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" [(ngModel)]="customer.address">
          </div>
        </div>
        <div class="w-full flex mb-6">
          <div class="w-4/12 font-semibold flex flex-col justify-center">Địa chỉ giao hàng</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === false">{{customer.deliveryAddress}}</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === true">
            <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" [(ngModel)]="customer.deliveryAddress">
          </div>
        </div>
        <div class="w-full flex mb-6">
          <div class="w-4/12 font-semibold flex flex-col justify-center">Khu vực</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === false">{{customer.areaId}}</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === true">
            <select class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" [(ngModel)]="customer.areaId">
              <option>{{customer.areaId}}</option>
              <option>No Bug</option>
            </select>
          </div>
        </div>
      </div>
      <hr class="mx-2">
      <div class="w-8/12 px-2 py-4 text-base">
        <div class="w-full flex mb-6">
          <div class="w-4/12 font-semibold flex flex-col justify-center">Tỉnh/Thành phố</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === false">{{customer.province}}</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === true">
            <select class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" [(ngModel)]="customer.province">
              <option>{{customer.province}}</option>
              <option>No Bug</option>
            </select>
          </div>
        </div>
        <div class="w-full flex mb-6">
          <div class="w-4/12 font-semibold">Quận/Huyện</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === false">{{customer.district}}</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === true">
            <select class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" [(ngModel)]="customer.district">
              <option>{{customer.district}}</option>
              <option>No Bug</option>
            </select>
          </div>
        </div>
        <div class="w-full flex mb-6">
          <div class="w-4/12 font-semibold">Sinh nhật</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === false">{{customer.dOB}}</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === true">
            <input type="date" class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" [(ngModel)]="customer.dOB">
          </div>
        </div>
        <div class="w-full flex mb-6">
          <div class="w-4/12 font-semibold">Người liên hệ</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === false">{{customer.contactName}}</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === true">
            <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" [(ngModel)]="customer.contactName">
          </div>
        </div>
        <div class="w-full flex mb-6">
          <div class="w-4/12 font-semibold">Chức vụ</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === false">{{customer.position}}</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === true">
            <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" [(ngModel)]="customer.position">
          </div>
        </div>
        <div class="w-full flex mb-6">
          <div class="w-4/12 font-semibold">SĐT</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === false">{{customer.phone}}</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === true">
            <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" [(ngModel)]="customer.phone">
          </div>
        </div>
        <div class="w-full flex mb-6">
          <div class="w-4/12 font-semibold">Email</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === false">{{customer.email}}</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === true">
            <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" [(ngModel)]="customer.email">
          </div>
        </div>
      </div>
      <hr class="mx-2">
      <div class="w-8/12 px-2 py-4 text-base">
        <div class="w-full flex mb-6">
          <div class="w-4/12 font-semibold">Hình ảnh</div>
          <div class="w-8/12"></div>
        </div>
        <div class="w-full flex mb-6">
          <div class="w-4/12 font-semibold">Hạn mức công nợ</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === false">{{customer.debtLimit}}</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === true">
            <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" [(ngModel)]="customer.debtLimit">
          </div>
        </div>
        <div class="w-full flex mb-6">
          <div class="w-4/12 font-semibold">TK Tiền/Chi phí/Nợ</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === false">{{customer.cashAcc}}</div>
          <div class="w-8/12" *ngIf="isChoseUpdated === true">
            <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" [(ngModel)]="customer.cashAcc">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
