<div class="flex items-center mt-2 justify-between">
    <div class="flex items-center">
        <div class="flex items-center">
            <label for="simple-search" class="sr-only">Search</label>
            <div class="relative w-full">
                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                    <svg
                        aria-hidden="true"
                        class="w-5 h-5 text-gray-500 dark:text-gray-400"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            fill-rule="evenodd"
                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                            clip-rule="evenodd"></path>
                    </svg>
                </div>
                <input type="text" id="simple-search" class="search-input" placeholder="Search" required />
            </div>
        </div>
        <button
            *ngIf="type === 'Edit'"
            class="text-gray-600 flex items-center ml-3 px-1 py-1.5 bg-zinc-200 hover:bg-zinc-300 rounded-lg hover:font-medium">
            <i class="fa-solid fa-filter mr-2 px-2"></i>
            <span class="px-2">Tìm kiếm nâng cao</span>
        </button>
        <button
            class="text-white flex items-center ml-3 px-1 py-1.5 bg-rose-500 hover:bg-rose-600 rounded-lg hover:font-medium">
            <i class="h-full fa-solid fa-bookmark mr-2 px-2"></i>
            <span class="px-2">Khuyến mại</span>
        </button>
    </div>
    <div class="flex items-center">
        <button
            class="text-gray-600 flex items-center ml-3 px-1 py-1.5 bg-zinc-200 hover:bg-zinc-300 rounded-lg hover:font-medium mr-3">
            <i class="fa-solid fa-file-import mr-2 px-2"></i>
            <span class="px-2">Nhập excel</span>
        </button>
        <div>
            <mat-select
                style="width: fit-content"
                [disabled]="type === 'View'"
                class="text-gray-600 flex items-center ml-3 px-1 py-1.5 bg-zinc-200 hover:bg-zinc-300 rounded-lg hover:font-medium cursor-pointer"
                [value]="0">
                <mat-option [value]="0" class="bg-white hover:bg-zinc-300">--Chọn kho mặc định--</mat-option>
                <mat-option
                    *ngFor="let warehouse of listWarehouse"
                    [value]="warehouse.id"
                    class="bg-white hover:bg-zinc-300">
                    {{ warehouse.warehouseName }}
                </mat-option>
                <option value="3" class="bg-white hover:bg-zinc-300">Hàng NanoFrance</option>
            </mat-select>
        </div>
    </div>
</div>
<div class="relative sm:rounded-lg mt-2" style="font-size: 12px">
    <table class="custom-table">
        <thead class="custom-thead">
            <tr class="row-customize">
                <th scope="col" class="custom-th">#</th>
                <th scope="col" class="custom-th">Mã SP</th>
                <th scope="col" class="custom-th">Tên sản phẩm</th>
                <th scope="col" class="custom-th">ĐVT</th>
                <th scope="col" class="custom-th">Kho xuất</th>
                <th scope="col" class="custom-th">
                    Số lượng
                    <!-- <span class="text-red-500">(Tổng: 0)</span> -->
                </th>
                <th scope="col" class="custom-th">Ghi chú</th>
                <th *ngIf="type === 'Edit'" scope="col" class="custom-th">Xóa</th>
            </tr>
        </thead>
        <tbody>
            <!-- list available product promotion -->
            <tr *ngFor="let product of listPromotionProduct; index as i" class="custom-tr">
                <td class="custom-th">{{ i + 1 }}</td>
                <td class="custom-th">{{ product.product.sku }}</td>
                <td class="custom-th">{{ product.product.productName }}</td>
                <td class="custom-th">
                    <!-- <span *ngIf="type === 'View'">
                        {{ product.unit.unitName }}
                    </span> -->
                    <span>
                        {{ product.unit.unitName }}
                    </span>
                    <!-- <mat-form-field
                        *ngIf="type === 'Edit'"
                        appearance="outline"
                        floatLabel="always"
                        style="width: 100px">
                        <mat-select [value]="product.unit.id">
                            <mat-option
                                (click)="
                                    product.unitId = product?.product?.retailUnit?.id;
                                    product.unitPrice = product.product.retailPrice;
                                    product.totalPrice = product.quantity * product.unitPrice;
                                    discountRate(product)
                                "
                                [value]="product?.product?.retailUnit?.id">
                                Lẻ - {{ product?.product?.retailUnit?.unitName || 'No Data' }}
                            </mat-option>
                            <mat-option
                                (click)="
                                    product.unitId = product?.product?.wholeSaleUnit?.id;
                                    product.unitPrice = product.product.price;
                                    product.totalPrice = product.quantity * product.unitPrice;
                                    discountRate(product)
                                "
                                [value]="product?.product?.wholeSaleUnit?.id">
                                Chẵn - {{ product?.product?.wholeSaleUnit?.unitName || 'No Data' }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->
                </td>
                <td class="custom-th">
                    <!-- <div *ngIf="type === 'View'">{{ product.warehouse?.warehouseName }}</div> -->
                    <div>{{ product.warehouse?.warehouseName }}</div>
                    <!-- <mat-form-field
                        *ngIf="type === 'Edit'"
                        appearance="outline"
                        floatLabel="always"
                        style="width: 100px">
                        <mat-select
                            [value]="product.warehouseId"
                            (selectionChange)="product.warehouseId = $event.value">
                            <mat-option *ngFor="let warehouse of listWarehouse" [value]="warehouse.id">
                                {{ warehouse.warehouseName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->
                </td>
                <td class="custom-th">
                    <div *ngIf="type === 'View'">{{ product.quantity }}</div>
                    <mat-form-field
                        *ngIf="type === 'Edit'"
                        appearance="outline"
                        style="width: 80px"
                        floatLabel="always">
                        <input
                            min="0"
                            type="number"
                            matInput
                            [(ngModel)]="product.quantity"
                            (input)="product.totalPrice = product.quantity * product.unitPrice; discountRate(product)"
                            [ngModelOptions]="{ standalone: true }" />
                    </mat-form-field>
                </td>
                <td class="custom-th">
                    <div *ngIf="type === 'View'">
                        {{ product.note }}
                    </div>
                    <mat-form-field
                        *ngIf="type === 'Edit'"
                        appearance="outline"
                        style="width: 80px"
                        floatLabel="always">
                        <input
                            type="text"
                            matInput
                            [(ngModel)]="product.note"
                            [ngModelOptions]="{ standalone: true }" />
                    </mat-form-field>
                </td>
                <td *ngIf="type === 'Edit'" class="custom-th" (click)="stopPropagation($event)">
                    <i class="fa-solid fa-trash text-sm cursor-pointer hover:opacity-70"></i>
                </td>
            </tr>
            <!-- list add product promotion -->
            <!-- <tr *ngFor="let product of listPromotionProductAdd; index as i" class="custom-tr">
                <td class="custom-th">{{ i + 1 }}</td>
                <td class="custom-th">{{ product.product.sku }}</td>
                <td class="custom-th">{{ product.product.productName }}</td>
                <td class="custom-th">
                    <span *ngIf="type === 'View'">
                        {{ product.unit.unitName }}
                    </span>
                    <mat-form-field
                        *ngIf="type === 'Edit'"
                        appearance="outline"
                        floatLabel="always"
                        style="width: 100px">
                        <mat-select [value]="product.unit.id">
                            <mat-option
                                (click)="
                                    product.unitId = product?.product?.retailUnit?.id;
                                    product.unitPrice = product.product.retailPrice;
                                    product.totalPrice = product.quantity * product.unitPrice;
                                    discountRate(product)
                                "
                                [value]="product?.product?.retailUnit?.id">
                                Lẻ - {{ product?.product?.retailUnit?.unitName || 'No Data' }}
                            </mat-option>
                            <mat-option
                                (click)="
                                    product.unitId = product?.product?.wholeSaleUnit?.id;
                                    product.unitPrice = product.product.price;
                                    product.totalPrice = product.quantity * product.unitPrice;
                                    discountRate(product)
                                "
                                [value]="product?.product?.wholeSaleUnit?.id">
                                Chẵn - {{ product?.product?.wholeSaleUnit?.unitName || 'No Data' }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td class="custom-th">
                    <div *ngIf="type === 'View'">{{ product.warehouse?.warehouseName }}</div>
                    <mat-form-field
                        *ngIf="type === 'Edit'"
                        appearance="outline"
                        floatLabel="always"
                        style="width: 100px">
                        <mat-select
                            [value]="product.warehouseId"
                            (selectionChange)="product.warehouseId = $event.value">
                            <mat-option *ngFor="let warehouse of listWarehouse" [value]="warehouse.id">
                                {{ warehouse.warehouseName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td class="custom-th">
                    <div *ngIf="type === 'View'">{{ product.quantity }}</div>
                    <mat-form-field
                        *ngIf="type === 'Edit'"
                        appearance="outline"
                        style="width: 80px"
                        floatLabel="always">
                        <input
                            min="0"
                            type="number"
                            matInput
                            [(ngModel)]="product.quantity"
                            (input)="
                                product.totalPrice = product.quantity * product.unitPrice;
                                discountRate(product)
                            "
                            [ngModelOptions]="{ standalone: true }" />
                    </mat-form-field>
                </td>
                <td class="custom-th">
                    <div *ngIf="type === 'View'">
                        {{ product.note }}
                    </div>
                    <mat-form-field
                        *ngIf="type === 'Edit'"
                        appearance="outline"
                        style="width: 80px"
                        floatLabel="always">
                        <input
                            type="text"
                            matInput
                            [(ngModel)]="product.note"
                            [ngModelOptions]="{ standalone: true }" />
                    </mat-form-field>
                </td>
                <td
                    *ngIf="type === 'Edit'"
                    class="custom-th"
                    (click)="stopPropagation($event); unChooseFromListAddPromotion(product)">
                    <i class="fa-solid fa-trash text-sm cursor-pointer hover:opacity-70"></i>
                </td>
            </tr> -->
        </tbody>
    </table>
</div>
