<div class="h-full flex flex-row w-full overflow-hidden">
  <div class="h-full max-w-sm bg-gray-100 my-1 flex flex-col relative" [ngClass]="class.left">
    <button class="absolute w-5 h-8 top-0 right-0 bg-gray-50 border border-solid border-gray-300"
        (click)="closeSideBar()" *ngIf="class.statusbar == true">
        <i class="fa-solid fa-caret-left"></i>
    </button>
    <button class="absolute w-5 h-8 top-0 right-0 bg-gray-50 border border-solid border-gray-300"
        (click)="openSideBar()" *ngIf="class.statusbar == false">
        <i class="fa-solid fa-caret-right"></i>
    </button>
    <div class="overflow-y-scroll h-full">
      <div>
        <div (click)="hasEmployee = !hasEmployee" class="w-full items-center hover:font-medium mt-2 hover:bg-zinc-200 cursor-pointer py-2 px-3 rounded-lg">
          <i class="text-base mr-3 fa-solid fa-user"></i>
          <span class="text-sm">Phòng ban / Nhân viên</span>
        </div>
        <div *ngIf="hasEmployee" class="text-xs">
          <app-menu-collapse-tree (newItemEvent)="searchUser($event)"></app-menu-collapse-tree>
        </div>
      </div>
      <div>
        <div class="w-full items-center hover:font-medium mt-2 hover:bg-zinc-200 cursor-pointer py-2 px-3 rounded-lg">
          <i class="text-base mr-3 fa-regular fa-calendar-xmark"></i>
          <span class="text-sm">Đến ngày: </span><input type="date" [(ngModel)]="now" (ngModelChange)="selectedDate()" class="w-24 border border-solid border-black mx-1 p-1 rounded-sm text-xs font-medium h-7">
        </div>
      </div>
      <!-- <app-menu-collapse (Selection)="selectPosition($event)" [Config]="positionMenu"></app-menu-collapse>
      <app-menu-collapse (Selection)="selectStatus($event)" [Config]="statusMenu"></app-menu-collapse>
      <app-menu-collapse (Selection)="selectTimekeeping($event)" [Config]="timekeepingMenu"></app-menu-collapse>
      <div>
        <div class="w-full items-center hover:font-medium mt-2 hover:bg-zinc-200 cursor-pointer py-2 px-3 rounded-lg">
          <i class="text-base mr-3 fa-solid fa-gear"></i>
          <span class="text-sm">Đặt lịch xuất báo cáo</span>
        </div>
      </div> -->
    </div>
  </div>
  <div class="h-full bg-white my-1 mx-1 flex flex-col relative" [ngClass]="class.right">
    <div class="w-full p-2 bg-white h-fit flex justify-between text-lg font-medium">
      <div class="flex flex-col justify-center">
        <span>Báo cáo chấm công</span>
      </div>
      <div class="h-fit">
        <button (click)="init()" mat-flat-button class="bg-[#1891C9] h-full text-white font-medium mx-1">Tìm kiếm</button>
        <button mat-flat-button class="bg-[#0EAF8F] h-full text-white font-medium">Lưu Excel</button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div *ngIf="search == false && loading == false" class="w-full mt-3 p-1 text-center border-solid border border-black">
        <span class="text-lg font-semibold">Bấm tìm kiếm để xem báo cáo</span>
      </div>
    <div *ngIf="loading == true" class="absolute text-center top-1/2 left-1/2">
      <i class="fa-solid fa-spinner fa-xl text-green-text animate-spin"></i>
    </div>
    <div *ngIf="search == true">
      <div id="table" class="table-wrapper">
        <table class="block custom-table text-black dark:text-gray-400">
            <thead class="custom-thead">
              <tr>
                <th class="custom-th">STT</th>
                <th class="custom-th">Mã nhân viên</th>
                <th class="custom-th">Nhân viên</th>
                <th style="padding: 8px 0;" class="custom-th">
                    <div class="flex flex-col">
                        <tr class="flex-1 px-[8px] text-center">Ngày</tr>
                        <div class="h-[1.5px] my-1 w-full bg-gray-300 border-solid"></div>
                        <tr class=" flex-1 px-[8px] text-center">Thứ</tr>
                    </div>
                </th>
                <th style="padding: 8px 0;" class="custom-th" *ngFor="let i of dateService.allDayOfMonth$ | async; trackBy: trackByFn">
                    <div class="flex flex-col">
                        <tr class="text-center flex-1 px-[8px]">{{i.date}}</tr>
                        <div class="h-[1.5px] my-1 w-full bg-gray-300 border-solid"></div>
                        <tr class="text-center flex-1 px-[8px]">{{i.day}}</tr>
                    </div>
                </th>
                <th class="custom-th">Ngày đi làm</th>
                <th class="custom-th">Trễ</th>
                <th class="custom-th">Sớm</th>
                <th class="custom-th">T.Giờ</th>
                <th class="custom-th">Ngày công</th>
              </tr>
            </thead>
            <tbody *ngIf="search == true && loading == false">
                <ng-container *ngFor="let item of timeSheetService.list$ | async; trackBy: trackByFn">
                  <tr class="custom-row">
                      <td class="custom-td border-b" [colSpan]="days.length + 9">{{item.group.name}}</td>
                  </tr>
                  <tr class="custom-row" *ngFor="let i of item.listData; let j = index">
                    <td align="center" class="custom-td border-b text-center" ><div class="text-center">{{j + 1}}</div></td>
                    <td class="custom-td border-b">{{i.employee ? i.employee.employeeCode : ''}}</td>
                    <td class="custom-td border-b">{{i.employee ? i.employee.employeeName : ''}}</td>

                    <td style="padding: 8px 0;" class="custom-td border-b">
                        <div class="flex flex-col">
                            <tr class="flex-1 text-center">Vào đầu</tr>
                            <div class="h-[1px] my-1 w-full bg-gray-300 border-solid"></div>
                            <tr class="flex-1 text-center">Ra cuối</tr>
                            <div class="h-[1px] my-1 w-full bg-gray-300 border-solid"></div>
                            <tr class="flex-1 text-center">Trễ</tr>
                            <div class="h-[1px] my-1 w-full bg-gray-300 border-solid"></div>
                            <tr class="flex-1 text-center">Sớm</tr>
                            <div class="h-[1px] my-1 w-full bg-gray-300 border-solid"></div>
                            <tr class="flex-1 text-center">T.Giờ</tr>
                            <div class="h-[1px] my-1 w-full bg-gray-300 border-solid"></div>
                            <tr class="flex-1 text-center">Công</tr>
                        </div>
                    </td>
                    <td style="padding: 8px 0;" class="custom-td border-b" *ngFor="let col of dateService.allDayOfMonth$ | async; let index = index; trackBy: trackByFn">
                        <div style="height: 100%;" class="text-center">
                            <span style="height: 16.666667%;" class="px-[8px]">
                                <span *ngIf="i.listTime && i.listTime[0].minList">
                                    {{i.listTime[0].minList[col.date] != null ? i.listTime[0].minList[col.date].time.split(':')[0] + ':' + i.listTime[0].minList[col.date].time.split(':')[1] : ''}}
                                </span>
                            </span>
                            <div class="h-[1px] my-1 w-full bg-gray-300 border-solid"></div>
                            <span style="height: 16.666667%;" class="px-[8px]">
                                <span *ngIf="i.listTime && i.listTime[0].maxList && col.date">
                                    {{i.listTime[0].maxList[col.date] != null ? i.listTime[0].maxList[col.date].time.split(':')[0] + ':' + i.listTime[0].maxList[col.date].time.split(':')[1] : ''}}
                                </span>
                            </span>
                            <div class="h-[1px] my-1 w-full bg-gray-300 border-solid"></div>
                            <span style="height: 16.666667%;" class="px-[8px]">
                                <span *ngIf="i.listTime && i.listTime[0].minList">
                                    {{i.listTime[0].minList[col.date] != null ? i.listTime[0].minList[col.date].late.split(':')[0] + ':' + i.listTime[0].minList[col.date].late.split(':')[1] : ''}}
                                </span>
                            </span>
                            <div class="h-[1px] my-1 w-full bg-gray-300 border-solid"></div>
                            <span style="height: 16.666667%;" class="px-[8px]">
                                <span *ngIf="i.listTime && i.listTime[0].maxList">
                                    {{i.listTime[0].maxList[col.date] != null ? i.listTime[0].maxList[col.date].early.split(':')[0] + ':' + i.listTime[0].maxList[col.date].early.split(':')[1] : ''}}
                                </span>
                            </span>
                            <div class="h-[1px] my-1 w-full bg-gray-300 border-solid"></div>
                            <span style="height: 16.666667%;" class="px-[8px]">
                                <span *ngIf="i.listTime && i.listTime[0].minList">
                                    {{i.listTime[0].minList[col.date] != null && i.listTime[0].minList[col.date].workDay != null ? i.listTime[0].minList[col.date].workDay : ''}}
                                </span>
                            </span>
                            <div class="h-[1px] my-1 w-full bg-gray-300 border-solid"></div>
                            <span style="height: 16.666667%;" class="px-[8px]">
                                <span *ngIf="i.listTime && i.listTime[0].minList">
                                    {{i.listTime[0].minList[col.date] != null && i.listTime[0].minList[col.date].totalWork != null ? i.listTime[0].minList[col.date].totalWork : '0'}}
                                </span>
                            </span>
                            <!-- <div class="h-[1px] my-1 w-full bg-gray-300 border-solid"></div>
                            <span *ngIf="i.listTime != null  && i.listTime.length > 0 && i.listTime[0].maxList != null && i.listTime[0].maxList.length > 0 && index <= i.listTime[0].maxList.length " class="h-1/6 px-[8px]">{{i.listTime[0].maxList[index] && i.listTime[0].maxList[index].time != null ? i.listTime[0].maxList[index].time.split(':')[0] + ':' + i.listTime[0].maxList[index].time.split(':')[1] : ''}}</span> -->
                        </div>
                    </td>
                    <td class="custom-td border-b">
                        <div class="text-center"></div>
                    </td>
                    <td class="custom-td border-b">
                        <div class="text-center"></div>
                    </td>
                    <td class="custom-td border-b">
                        <div class="text-center"></div>
                    </td>
                    <td class="custom-td border-b">
                        <div class="text-center"></div>
                    </td>
                    <td class="custom-td border-b">
                        <div class="text-center"></div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
      </div>
      <div class="mt-2">
        <app-pagination></app-pagination>
      </div>
    </div>
  </div>
</div>