<div *ngIf="isShowSidebar" class="min-h-screen bg-white p-3 w-60 border-r">
    <div class="w-full flex items-center justify-between">
        <div class="py-1 px-1.5 bg-zinc-300 rounded cursor-pointer" (click)="toggleShowSidebar()">
            <i class="w-1/12 fa-solid fa-bars text-lg cursor-pointer hover:opacity-70"></i>
        </div>
        <mat-form-field class="w-10/12 text-[12px]" appearance="outline">
            <mat-label>Tìm kiếm phiếu đặt hàng</mat-label>
            <input matInput class="bg-white" />
            <i matPrefix class="text-[#0EAF8F] mr-1 fa-solid -translate-y-1 text-base icon fa-magnifying-glass"> </i>
        </mat-form-field>
    </div>
    <div class="w-full items-center hover:font-medium flex mt-2 hover:bg-zinc-200 cursor-pointer py-2 px-3 rounded-lg">
        <i class="fa-solid fa-user mr-3 text-base"></i>
        <span class="text-sm">Nhân viên đặt</span>
    </div>
    <!-- Trạng thái menu -->
    <app-menu-collapse (Selection)="selection1($event)" [Config]="statusMenu"></app-menu-collapse>
    <!-- Trạng thái in menu -->
    <app-menu-collapse (Selection)="selection2($event)" [Config]="statusPrintMenu"></app-menu-collapse>
    <!-- Viếng thăm menu -->
    <app-menu-collapse (Selection)="selection3($event)" [Config]="visitionMenu"></app-menu-collapse>
    <!-- Tuyến menu -->
    <app-menu-collapse (Selection)="selection4($event)" [Config]="lineMenu"></app-menu-collapse>
    <!-- Loại khách hàng menu -->
    <app-menu-collapse (Selection)="selection5($event)" [Config]="typeCustomerMenu"></app-menu-collapse>
    <!-- Nhóm khách hàng menu -->
    <app-menu-collapse (Selection)="selection6($event)" [Config]="groupCustomerMenu"></app-menu-collapse>
    <!-- Khu vực menu -->
    <div class="w-full items-center hover:font-medium flex mt-2 hover:bg-zinc-200 cursor-pointer py-2 px-3 rounded-lg">
        <i class="fa-solid fa-earth-americas mr-3 text-base"></i>
        <span class="text-sm">Khu vực</span>
    </div>
    <!-- Lưu trữ menu -->
    <app-menu-collapse (Selection)="selection8($event)" [Config]="storageMenu"></app-menu-collapse>
    <!-- Ngày giao hàng menu -->
    <div class="w-full items-center hover:font-medium flex mt-2 hover:bg-zinc-200 cursor-pointer py-2 px-3 rounded-lg">
        <i class="fa-solid fa-truck-fast mr-3 text-base"></i>
        <span class="text-sm">Ngày giao hàng</span>
    </div>
    <!-- Người duyệt menu -->
    <div class="w-full items-center hover:font-medium flex mt-2 hover:bg-zinc-200 cursor-pointer py-2 px-3 rounded-lg">
        <i class="fa-solid fa-check mr-3 text-base"></i>
        <span class="text-sm">Người duyệt</span>
    </div>
    <!-- Tìm kiếm theo sản phẩm -->
    <div (click)="isSearchByBill = !isSearchByBill"
        class="w-full items-center hover:font-medium flex mt-2 hover:bg-zinc-200 cursor-pointer py-2 px-3 rounded-lg">
        <i class="fa-solid fa-magnifying-glass mr-3 text-base"></i>
        <span class="text-sm">Tìm kiếm theo sản phẩm</span>
    </div>
    <div *ngIf="isSearchByBill" class="ml-8">
        <mat-form-field class="w-10/12 text-[12px]" appearance="outline">
            <mat-label>Tìm sản phẩm</mat-label>
            <input matInput class="bg-white" />
            <i matPrefix class="text-[#0EAF8F] mr-1 fa-solid -translate-y-1 text-base icon fa-magnifying-glass"> </i>
        </mat-form-field>
    </div>
</div>
<!-- sidebar when collapse -->
<div *ngIf="!isShowSidebar" class="fixed top-16 left-0 bottom-0 bg-white min-h-screen p-2 border-r">
    <div class="py-1 px-1.5 bg-zinc-300 rounded cursor-pointer" (click)="toggleShowSidebar()">
        <i class="w-1/12 fa-solid fa-bars text-sm cursor-pointer hover:opacity-70"></i>
    </div>
</div>