:host ::ng-deep .mat-divider {
    border-top-color: rgb(74 222 128);
    border-top-width: 2px;
}

:host ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 8px !important;
}

:host ::ng-deep .mat-tab-body-content {
    height: fit-content;
    overflow: hidden;
}

.search-input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.search-btn {
    @apply p-1 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}

.custom {
    &-table {
        @apply w-full text-left text-gray-500 dark:text-gray-400;
    }
    &-thead {
        @apply text-gray-700 uppercase bg-gray-100 border-x dark:bg-gray-700 dark:text-gray-400;
    }
    &-th {
        @apply py-1 text-center border-x max-w-2xl px-1;
    }
    &-tr {
        @apply cursor-pointer bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 border-x;
    }
}

textarea:focus,
input:focus {
    outline: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
