<form [formGroup]="createForm">
    <div class="fixed z-10 bg-white mt-[-64px] w-full">
        <div class="p-3 w-full flex justify-between items-center">
            <span style="font-size: 20px !important" class="font-medium">Thêm mới phiếu đặt hàng</span>
            <div class="flex items-center">
                <!-- <button (click)="create()" class="button-primary-sm flex items-center justify-between mr-2">
                    <i class="fa-solid fa-check text-white mr-2"></i>
                    <span class="text-white">Lưu</span>
                </button> -->
                <button (click)="create()" class="button-success-sm flex items-center justify-between mr-2">
                    <i class="fa-solid fa-circle-check text-white mr-2"></i>
                    <span class="text-white">Lưu & Đóng</span>
                </button>
                <button class="button-danger" [routerLink]="['/orders']">
                    <i class="fa-solid fa-ban text-white mr-2"></i>
                    <span class="text-white">Đóng</span>
                </button>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
    <div class="p-3 mt-16">
        <div style="font-size: 12px">
            <div class="flex gap-x-6 justify-between">
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Trạng thái</mat-label>
                    <mat-select formControlName="status">
                        <mat-option *ngFor="let status of statusList" [value]="status.value">
                            {{ status.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Ngày đặt</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="orderDate" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Ngày giao</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="deliveryDate" />
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="flex gap-x-6 justify-between">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Nhóm</mat-label>
                    <mat-select formControlName="groupId">
                        <!-- <input placeholder="Tìm kiếm..." style="padding-left: 12px" matInput class="h-10 rounded-sm" /> -->
                        <mat-option *ngFor="let group of listGroup" [value]="group.id">{{ group.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Nhân viên đặt</mat-label>
                    <mat-select formControlName="orderEmployeeId">
                        <input placeholder="Tìm kiếm..." style="padding-left: 12px" matInput class="h-10 rounded-sm" />
                        <mat-option *ngFor="let employee of listEmployee" [value]="employee.id">
                            {{ employee.employeeName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Tuyến</mat-label>
                    <mat-select formControlName="routeId">
                        <input
                            (input)="searchListRoute($event)"
                            placeholder="Tìm kiếm..."
                            style="padding-left: 12px"
                            matInput
                            class="h-10 rounded-sm" />
                        <mat-option *ngFor="let route of listRoute" [value]="route.id">
                            {{ route.routeName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="flex gap-x-6 justify-between" formGroupName="customer">
                <!-- <mat-form-field class="w-1/3" appearance="outline">
                    <mat-label>Mã Khách hàng</mat-label>
                    <input matInput />
                </mat-form-field> -->
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Mã khách hàng</mat-label>
                    <mat-select
                        formControlName="customerId"
                        (selectionChange)="setInfoCustomer($event.value); setRouteGroupAndEmployee($event.value)">
                        <input
                            (input)="searchListCustomer($event)"
                            placeholder="Tìm kiếm..."
                            style="padding-left: 12px"
                            matInput
                            class="h-10 rounded-sm" />
                        <mat-option [value]="0">--Chọn khách hàng--</mat-option>
                        <mat-option *ngFor="let customer of listCustomer" [value]="customer.id">
                            {{ customer.customerCode }} - {{ customer.customerName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Khách hàng</mat-label>
                    <input matInput formControlName="customerName" [readonly]="true" />
                </mat-form-field>
                <mat-form-field class="w-1/3" appearance="outline">
                    <mat-label>SĐT</mat-label>
                    <input matInput formControlName="phone" />
                </mat-form-field>
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Địa chỉ</mat-label>
                    <input matInput formControlName="address" />
                </mat-form-field>
            </div>
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Diễn giải</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
        </div>
        <mat-tab-group>
            <!-- Sản phẩm đặt hàng -->
            <mat-tab label="Sản phẩm đặt hàng">
                <div class="flex items-center mt-2 justify-between">
                    <div class="flex items-center">
                        <div class="flex items-center">
                            <label for="simple-search" class="sr-only">Search</label>
                            <div class="relative w-full">
                                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                    <svg
                                        aria-hidden="true"
                                        class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            fill-rule="evenodd"
                                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <input
                                    type="text"
                                    id="simple-search"
                                    class="search-input"
                                    placeholder="Search"
                                    required />
                            </div>
                        </div>
                        <button
                            (click)="openDialogProduct()"
                            class="text-gray-600 flex items-center ml-3 px-1 py-1.5 bg-zinc-200 hover:bg-zinc-300 rounded-lg hover:font-medium">
                            <i class="fa-solid fa-filter mr-2 px-2"></i>
                            <span class="px-2">Tìm kiếm nâng cao</span>
                        </button>
                        <button
                            class="text-white flex items-center ml-3 px-1 py-1.5 bg-rose-500 hover:bg-rose-600 rounded-lg hover:font-medium">
                            <i class="h-full fa-solid fa-bookmark mr-2 px-2"></i>
                            <span class="px-2">Khuyến mại</span>
                        </button>
                    </div>
                    <div class="flex items-center">
                        <button
                            class="text-gray-600 flex items-center ml-3 px-1 py-1.5 bg-zinc-200 hover:bg-zinc-300 rounded-lg hover:font-medium mr-3">
                            <i class="fa-solid fa-file-import mr-2 px-2"></i>
                            <span class="px-2">Nhập excel</span>
                        </button>
                        <div>
                            <mat-select
                                style="width: fit-content"
                                [value]="0"
                                (selectionChange)="setWareHouseToAllProduct($event.value)"
                                class="text-gray-600 flex items-center ml-3 px-1 py-1.5 bg-zinc-200 hover:bg-zinc-300 rounded-lg hover:font-medium cursor-pointer">
                                <mat-option [value]="0" class="bg-white hover:bg-zinc-300">
                                    --Chọn kho mặc định--
                                </mat-option>
                                <mat-option
                                    *ngFor="let warehouse of listWarehouse"
                                    [value]="warehouse.id"
                                    value="2"
                                    class="bg-white hover:bg-zinc-300">
                                    {{ warehouse.warehouseName }}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>
                <div class="relative sm:rounded-lg mt-2" style="font-size: 12px">
                    <table class="custom-table w-full">
                        <thead class="custom-thead">
                            <tr class="row-customize">
                                <th scope="col" class="custom-th">#</th>
                                <th scope="col" class="custom-th">Mã SP</th>
                                <th scope="col" class="custom-th">Tên sản phẩm</th>
                                <th scope="col" class="custom-th">ĐVT</th>
                                <th scope="col" class="custom-th">Kho xuất</th>
                                <th scope="col" class="custom-th flex flex-col">
                                    <span>Số lượng</span>
                                    <!-- <span class="text-red-500">(Tổng: {{ quantity }})</span> -->
                                </th>
                                <th scope="col" class="custom-th">Đơn giá</th>
                                <th scope="col" class="custom-th">Thành tiền</th>
                                <th scope="col" class="custom-th">Chiết khấu (VNĐ)</th>
                                <th scope="col" class="custom-th">Tỷ lệ CK (%)</th>
                                <th scope="col" class="custom-th">Ghi chú</th>
                                <th scope="col" class="custom-th">Xóa</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of listChoosenProduct; index as i" class="custom-tr">
                                <td class="custom-th">{{ i + 1 }}</td>
                                <td class="custom-th">{{ product.sku }}</td>
                                <td class="custom-th">{{ product.productName }}</td>
                                <td class="custom-th">
                                    <mat-form-field
                                        *ngIf="product.retailUnit || product.wholeSaleUnit"
                                        appearance="outline"
                                        floatLabel="always"
                                        style="width: 100px">
                                        <mat-select (selectionChange)="selectUnit($event.value, product, i)">
                                            <mat-option
                                                *ngIf="product.retailUnit"
                                                [value]="{ unit: product.retailUnit, type: 'retail' }">
                                                Lẻ - {{ product.retailUnit.unitName || 'No Data' }}
                                            </mat-option>
                                            <mat-option
                                                *ngIf="product.wholeSaleUnit"
                                                [value]="{ unit: product.wholeSaleUnit, type: 'whosale' }">
                                                Chẵn - {{ product.wholeSaleUnit.unitName || 'No Data' }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td class="custom-th">
                                    <mat-form-field appearance="outline" floatLabel="always" style="width: 80px">
                                        <mat-select
                                            (selectionChange)="selectWareHouse($event.value, product)"
                                            [value]="product.warehouseId">
                                            <mat-option *ngFor="let warehouse of listWarehouse" [value]="warehouse.id">
                                                {{ warehouse.warehouseName }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td class="custom-th">
                                    <mat-form-field appearance="outline" style="width: 80px" floatLabel="always">
                                        <input
                                            currencyMask
                                            [options]="{
                                                suffix: '',
                                                thousands: '.',
                                                prefix: '',
                                                decimal: ',',
                                                precision: 0,
                                                allowNegative: false
                                            }"
                                            matInput
                                            [ngModel]="product.quantity"
                                            (ngModelChange)="product.quantity = $event; updateTotalPrice(product)"
                                            [ngModelOptions]="{ standalone: true }" />
                                    </mat-form-field>
                                </td>
                                <td class="custom-th">
                                    <!-- {{ (unitPrices[i] | currency: 'VND') || 'Chưa có đơn giá' }} -->
                                    <span>
                                        {{ product.unitPrice | currency: 'VND' || 'Chưa có đơn giá' }}
                                    </span>
                                </td>
                                <td class="custom-th">
                                    <span>
                                        {{ product.totalPrice | currency: 'VND' }}
                                    </span>
                                </td>
                                <td class="custom-th">
                                    <mat-form-field appearance="outline" style="width: 80px" floatLabel="always">
                                        <input
                                            type="number"
                                            matInput
                                            (input)="discountRate(product)"
                                            [(ngModel)]="product.discount"
                                            [ngModelOptions]="{ standalone: true }" />
                                    </mat-form-field>
                                </td>
                                <td class="custom-th">
                                    <mat-form-field appearance="outline" style="width: 80px" floatLabel="always">
                                        <input
                                            min="0"
                                            type="number"
                                            matInput
                                            (input)="countDiscount(product)"
                                            [(ngModel)]="product.discountRate"
                                            [ngModelOptions]="{ standalone: true }" />
                                    </mat-form-field>

                                    <!-- {{ product.discountRate | percent: '1.2' }} -->
                                </td>
                                <td class="custom-th">
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        style="width: 120px; height: 15px">
                                        <input
                                            type="text"
                                            matInput
                                            [(ngModel)]="product.note"
                                            [ngModelOptions]="{ standalone: true }" />
                                    </mat-form-field>
                                </td>
                                <td class="custom-th" (click)="stopPropagation($event); unChoose(product)">
                                    <i class="fa-solid fa-trash text-sm cursor-pointer hover:opacity-70"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-tab>
            <!-- Sản phẩm khuyến mại -->
            <mat-tab label="Sản phẩm khuyến mại">
                <app-promotion-table
                    [listWarehouse]="listWarehouse"
                    (listPromotionProductAdd$)="setProductPromotionAdd($event)"></app-promotion-table>
            </mat-tab>
        </mat-tab-group>
        <div class="grid grid-cols-3 w-full gap-y-5 mt-6">
            <div class="grid grid-cols-4 col-span-2">
                <span class="font-medium">Bằng chữ:</span>
                <span class="col-span-3">
                    <span *ngIf="textMoney">{{ textMoney }} đồng</span>
                </span>
            </div>
            <div class="grid grid-cols-2">
                <span class="font-medium">Tổng tiền hàng:</span>
                <span class="font-normal">{{ totalAmount | currency: 'VND' }}</span>
            </div>
            <div class="grid grid-cols-4 col-span-2 text-green-600">
                <span class="font-medium">Hạn mức dư nợ:</span>
                <span class="col-span-3">{{ debtLimit }}</span>
            </div>
            <div class="grid grid-cols-2">
                <span class="font-medium">Chiết khấu sản phẩm:</span>
                <span class="font-normal">
                    {{ totalDiscountProduct | currency: 'VND' }}
                </span>
            </div>
            <div class="grid grid-cols-4 col-span-2 text-green-600">
                <span class="font-medium">Dư nợ hiện tại:</span>
                <span class="col-span-3"></span>
            </div>
            <div class="grid grid-cols-2">
                <span class="font-medium">Chiết khấu đơn hàng:</span>
                <span class="font-normal">
                    <input
                        class="border-b border-gray-700"
                        type="number"
                        [(ngModel)]="tradeDiscount"
                        [ngModelOptions]="{ standalone: true }" />
                </span>
            </div>
            <div class="grid grid-cols-4 col-span-2 text-green-600">
                <span class="font-medium">Hình thức thanh toán:</span>
                <span class="col-span-3">Thanh toán trực tiếp</span>
            </div>
            <div class="grid grid-cols-2">
                <span class="font-medium">Phải thanh toán:</span>
                <span class="font-normal">
                    {{ totalPayment | currency: 'VND' }}
                </span>
            </div>
            <div class="grid grid-cols-4 col-span-2"></div>
            <span class="grid grid-cols-2">
                <span class="font-medium">Thanh toán trước:</span>
                <span class="font-normal">
                    <input
                        class="border-b border-gray-700"
                        type="number"
                        [(ngModel)]="prePayment"
                        [ngModelOptions]="{ standalone: true }" />
                </span>
            </span>
        </div>
    </div>
</form>
