<div>
  <div class="w-full flex justify-between">
    <div class="flex flex-col justify-center">
      <span class="text-lg text-[#888] font-medium italic">Thêm tuyến</span>
    </div>
    <div class="flex justify-between">
      <!-- <button type="submit" mat-flat-button (click)="submit()" class="bg-[#1891C9] text-white font-medium mx-1"><i class="fa-solid fa-circle-check mr-1"></i>Lưu</button> -->
      <button type="button" mat-stroked-button (click)="close()" class="text-[#565869] bg-white font-medium"><i class="fa-solid fa-right-from-bracket mr-1"></i>Đóng</button>
    </div>
  </div>
  <hr class="my-2">
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Tìm kiếm tuyến</mat-label>
    <input #input matInput (keyup.enter)="search(input.value)">
    <mat-icon matSuffix class="cursor-pointer" (click)="search(input.value)">search</mat-icon>
  </mat-form-field>
    <cdk-virtual-scroll-viewport itemSize="10" class="w-full h-[40vh]">
        <div *cdkVirtualFor="let item of routes$ | async; trackBy: trackByFn" class="px-[16px] mb-2">
            <mat-checkbox (change)="change(item.id)" color="primary">{{item.routeName}}</mat-checkbox>
        </div>
    </cdk-virtual-scroll-viewport>
</div>