<div class="flex w-full">
    <div class="fixed top-16 left-0 bottom-0 overflow-y-auto z-10">
        <app-sidebar
            (isShowSidebarOutput)="isShowSidebar($event)"
            (formFilterFromChild)="receiveFilter($event)"
            (bodyFilter)="filter($event)"></app-sidebar>
    </div>
    <div
        [ngClass]="{ 'ml-60': isShowSidebarToMargin, 'ml-10': !isShowSidebarToMargin }"
        class="fixed bottom-10 top-16 z-0 px-5">
        <!-- header -->
        <div class="mt-2 flex justify-between items-center">
            <span class="text-xl font-medium">Danh sách phiếu bán hàng ({{ total }})</span>
            <div style="font-size: 12px" class="flex items-center">
                <mat-form-field
                    style="padding-bottom: 0px !important"
                    appearance="outline"
                    [formGroup]="dateSearchForm">
                    <mat-label>Khoảng thời gian</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date" formControlName="fromDate" />
                        <input matEndDate placeholder="End date" formControlName="toDate" />
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker-toggle matSuffix>
                        <mat-icon matDatepickerToggleIcon (click)="clearDatePicker()">clear</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                <i
                    (click)="filterDate()"
                    class="ml-1 text-center mr-1 px-2 py-2 rounded-md bg-zinc-300 h-full w-full hover:opacity-70 font-bold cursor-pointer fa-solid text-base icon fa-magnifying-glass"></i>
            </div>
        </div>
        <!-- options select to edit -->
        <div class="flex mt-2">
            <button [disabled]="roleMain === 'member'" class="p-2 button-option mr-2" [matMenuTriggerFor]="addMenu">
                <i class="fa-solid fa-plus text-green-700 text-sm font-bold mr-1"></i>
                <span>Thêm mới</span>
                <i class="fa-solid fa-caret-down text-green-700 text-sm font-bold ml-1"></i>
            </button>
            <!-- menu thêm mới của Phiếu đặt hàng | Phiếu bán hàng | Phiếu trả hàng -->
            <mat-menu #addMenu="matMenu">
                <!-- phiếu đặt hàng -->
                <div>
                    <button mat-menu-item class="flex text-sm" [routerLink]="['/ordersale/create']">
                        <i class="fa-solid fa-hockey-puck mr-2 text-green-700"></i>
                        <span class="text-sm">Thêm mới đơn hàng</span>
                    </button>
                </div>
            </mat-menu>
            <button class="p-2 button-option mr-2">
                <i class="fa-solid fa-arrows-rotate text-green-700 text-sm font-bold mr-1"></i>
                <span>Tải lại</span>
            </button>
            <button class="p-2 button-option mr-2" [matMenuTriggerFor]="importData">
                <i class="fa-solid fa-file-import text-green-700 text-sm font-bold mr-1"></i>
                <span>Nhập dữ liệu</span>
                <i class="fa-solid fa-caret-down text-green-700 text-sm font-bold ml-1"></i>
            </button>
            <mat-menu #importData="matMenu">
                <button mat-menu-item>Nhập theo mẫu excel</button>
            </mat-menu>
            <button class="p-2 button-option mr-2" [matMenuTriggerFor]="exportData">
                <i class="fa-solid fa-file-export text-green-700 text-sm font-bold mr-1"></i>
                <span>Xuất dữ liệu</span>
                <i class="fa-solid fa-caret-down text-green-700 text-sm font-bold ml-1"></i>
            </button>
            <mat-menu #exportData="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="exportMenu">Xuất file Kế toán</button>
                <mat-menu #exportMenu="matMenu">
                    <button mat-menu-item (click)="export()">
                        <i class="fa-regular fa-circle-check mr-2"></i>
                        Được chọn
                    </button>
                    <button mat-menu-item (click)="exportWithFilter()">
                        <i class="fa-brands fa-searchengin mr-2"></i>
                        Điều kiện tìm
                    </button>
                </mat-menu>
            </mat-menu>

            <button class="p-2 button-option mr-2" [matMenuTriggerFor]="printMenu">
                <i class="fa-solid fa-print text-green-700 text-sm font-bold mr-1"></i>
                <span>In</span>
                <i class="fa-solid fa-caret-down text-green-700 text-sm font-bold ml-1"></i>
            </button>
            <mat-menu #exportData="matMenu" #printMenu="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="printMenu1">In theo mẫu A4</button>
                <mat-menu #printMenu1="matMenu">
                    <button mat-menu-item (click)="print()">
                        <i class="fa-regular fa-circle-check mr-2"></i>
                        Được chọn
                    </button>
                    <button mat-menu-item>
                        <i class="fa-brands fa-searchengin mr-2"></i>
                        Điều kiện tìm
                    </button>
                </mat-menu>
                <button mat-menu-item>In theo mẫu A5 (được chọn)</button>
            </mat-menu>
            <button class="p-2 button-option mr-2" [matMenuTriggerFor]="filterByTime">
                <i class="fa-solid fa-calendar text-green-700 text-sm font-bold mr-1"></i>
                <span>Lọc thời gian</span>
                <i class="fa-solid fa-caret-down text-green-700 text-sm font-bold ml-1"></i>
            </button>
            <mat-menu #filterByTime="matMenu" #printMenu="matMenu">
                <button mat-menu-item>Ngày tạo</button>
                <button mat-menu-item>Ngày đặt hàng</button>
                <button mat-menu-item>Ngày giao hàng</button>
                <button mat-menu-item>Ngày sửa</button>
            </mat-menu>
            <button class="p-2 button-option mr-2" [matMenuTriggerFor]="sortMenu">
                <i class="fa-solid fa-sort text-green-700 text-sm font-bold mr-1"></i>
                <span>Sắp xếp</span>
                <i class="fa-solid fa-caret-down text-green-700 text-sm font-bold ml-1"></i>
            </button>
            <mat-menu #sortMenu="matMenu" #printMenu="matMenu">
                <button mat-menu-item>Ngày đặt hàng</button>
                <button mat-menu-item>Ngày đặt hàng</button>
            </mat-menu>
            <button class="p-2 button-option mr-2" [matMenuTriggerFor]="manageMenu">
                <i class="fa-solid fa-lock text-green-700 text-sm font-bold mr-1"></i>
                <span>Quản trị</span>
                <i class="fa-solid fa-caret-down text-green-700 text-sm font-bold ml-1"></i>
            </button>
            <mat-menu #sortMenu="matMenu" #manageMenu="matMenu">
                <button mat-menu-item class="flex items-center justify-between">
                    <i class="fa-solid fa-trash mr-2"></i>
                    <span>Xóa nhiều</span>
                </button>
            </mat-menu>
        </div>
        <router-outlet></router-outlet>
        <!-- Bảng phiếu bán hàng -->
        <div id="table" class="table-wrapper">
            <table class="block custom-table text-gray-500 dark:text-gray-400">
                <thead class="custom-thead">
                    <th class="custom-th">TT</th>
                    <th class="custom-th">
                        <mat-checkbox></mat-checkbox>
                    </th>
                    <th class="custom-th">Người đặt</th>
                    <th class="custom-th">Người bán</th>
                    <th class="custom-th">Trạng thái</th>
                    <th class="custom-th">Mã phiếu</th>
                    <th class="custom-th">Mã KH</th>
                    <th class="custom-th">Tên khách hàng</th>
                    <th class="custom-th">Địa chỉ</th>
                    <th class="custom-th">Ngày đặt</th>
                    <th class="custom-th">Ngày bán</th>
                    <th class="custom-th">Tổng tiền</th>
                    <th class="custom-th">Ngày tạo</th>
                    <th class="custom-th">Người tạo</th>
                    <th class="custom-th">Ngày sửa</th>
                    <th class="custom-th">Người sửa</th>
                    <th class="custom-th">Diễn giải</th>
                </thead>
                <tbody>
                    <tr
                        *ngFor="
                            let order of listReceiptOrder
                                | paginate
                                    : {
                                          itemsPerPage: pageSize,
                                          currentPage: page,
                                          totalItems: total
                                      };
                            index as i
                        "
                        class="custom-row">
                        <td class="custom-td border-b">{{ i + 1 }}</td>
                        <td class="custom-td border-b">
                            <mat-checkbox (change)="chooseID($event, order.id)"></mat-checkbox>
                        </td>
                        <td class="custom-td border-b">{{ order.orderEmployee?.employeeName }}</td>
                        <td class="custom-td border-b">{{ order.saleEmployee?.employeeName }}</td>
                        <td class="custom-td border-b">
                            <button
                                class="button-orange-xs font-normal cursor-default min-w-[90px]"
                                *ngIf="order.status === 1">
                                <span style="font-size: 12px">Chờ duyệt</span>
                            </button>
                            <button
                                class="button-primary-xs font-normal cursor-default min-w-[90px]"
                                *ngIf="order.status === 2">
                                <span style="font-size: 12px">Đã duyệt</span>
                            </button>
                            <button
                                class="button-success-xs font-normal cursor-default min-w-[90px]"
                                *ngIf="order.status === 3">
                                <span style="font-size: 12px">Đã bán hàng</span>
                            </button>
                            <button
                                class="button-success-700-xs font-normal cursor-default min-w-[90px]"
                                *ngIf="order.status === 4">
                                <span style="font-size: 12px">Đã xuất hàng</span>
                            </button>
                            <button
                                class="button-danger-xs font-normal cursor-default min-w-[90px]"
                                *ngIf="order.status === 5">
                                <span style="font-size: 12px">Từ chối</span>
                            </button>
                            <button
                                class="button-cancel-xs font-normal cursor-default min-w-[90px]"
                                *ngIf="order.status === 6">
                                <span style="font-size: 12px">Đã nhập trả</span>
                            </button>
                        </td>
                        <td class="cursor-pointer hover:text-blue-500 custom-td border-b" (click)="detail(order.id)">
                            {{ order.saleCode }}
                        </td>
                        <td class="custom-td border-b">
                            {{ order.customer?.customerCode }}
                        </td>
                        <td class="custom-td border-b">
                            {{ order.customerName }}
                        </td>
                        <td class="custom-td border-b">
                            {{ order.address }}
                        </td>
                        <td class="custom-td border-b">
                            {{ datepipe.transform(order.orderDate, 'dd/MM/yyyy') || 'No-data' }}
                        </td>
                        <td class="custom-td border-b">
                            {{ datepipe.transform(order.saleDate, 'dd/MM/yyyy') || 'No-data' }}
                        </td>
                        <td class="custom-td border-b">{{ order.totalPayment }}</td>
                        <td class="custom-td border-b">
                            {{ datepipe.transform(order.createdDate, 'dd/MM/yyyy') || 'No-data' }}
                        </td>
                        <td class="custom-td border-b">
                            {{ order.createdBy }}
                        </td>
                        <td class="custom-td border-b">
                            {{ datepipe.transform(order.lastModifiedDate, 'dd/MM/yyyy') || 'No-data' }}
                        </td>
                        <td class="custom-td border-b">
                            {{ order.lastModifiedBy }}
                        </td>
                        <td class="custom-td border-b">
                            {{ order.description }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Pagination -->
        <div class="mt-2">
            <app-pagination></app-pagination>
        </div>
    </div>
</div>
