<form [formGroup]="formGroup">
  <!-- <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">STT</div>
    <div class="flex flex-col">
      <div class="flex flex-row">
          <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7">
      </div>
    </div>
  </div> -->
  <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Mã kho</div>
    <div class="flex flex-col">
      <div class="flex flex-row">
          <input formControlName="warehouseCode" class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7">
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Tên kho</div>
    <div class="flex flex-col">
      <div class="flex flex-row">
          <input formControlName="warehouseName" class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7">
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Loại kho</div>
    <div class="flex flex-col">
      <div class="flex flex-row">
          <select #typeWarehouse class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" (change)="selectEmployeeList(typeWarehouse.value)" formControlName="warehouseType">
            <option value="Kho sản phẩm">Kho sản phẩm</option>
            <option value="Kho khuyến mãi">Kho khuyến mãi</option>
            <option value="Kho nhân viên">Kho nhân viên</option>
          </select>
      </div>
    </div>
  </div>
  <div *ngIf="showEmployeeList" class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Phòng/nhóm</div>
    <div class="flex flex-col">
      <div class="flex flex-row">
        <select #groupSelect (change)="searchBySelect(groupSelect.value)" class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" formControlName="unitTreeGroupId">
            <option *ngFor="let item of unitGroup" value="{{item.id}}">{{item.name}}</option>
          </select>
      </div>
    </div>
  </div>
  <div *ngIf="showEmployeeList" class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Nhân viên</div>
    <div class="flex flex-col">
      <div class="flex flex-row">
        <select class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" formControlName="employeeId" [value]="warehouse.employee?.id">
            <option *ngFor="let item of employees" value="{{item.employee.id}}">{{item.employee.employeeName}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Mô tả</div>
    <div class="flex flex-col">
      <div class="flex flex-row">
          <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" formControlName="description">
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Trạng thái</div>
    <div class="flex flex-col">
      <div class="flex flex-row">
          <select class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" formControlName="status">
            <option value="true">Hoạt động</option>
            <option value="false">Khóa</option>
          </select>
      </div>
    </div>
  </div>
  <div *ngIf="!showEmployeeList" class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Phòng/nhóm</div>
    <div class="flex flex-col">
      <div class="flex flex-row relative">
          <input (click)="showGroup = !showGroup" placeholder="Chọn phòng/nhóm" class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7">
          <div *ngIf="showGroup" class="absolute top-full bg-gray-50 w-full h-fit max-h-[200px] overflow-y-scroll z-20">
            <app-menu-collapse-tree-multiple (newItemEvent)="search($event)"></app-menu-collapse-tree-multiple>
          </div>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Kế toán phụ trách</div>
  </div>
  <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="table-wrapper w-full">
      <table class="min-w-full border-spacing-0 border-separate bg-gray-100 z-10">
            <thead class="h-10  border-gray-300 ">
              <tr>
                <th col class="sticky top-0 z-10  border-b backdrop-blur bg-gray-100/50 backdrop-filter  border-solid border-gray-300 px-2 border-x">Ảnh</th>
                <th class="sticky top-0 z-10  border-b backdrop-blur bg-gray-100/50 backdrop-filter  border-solid border-gray-300 px-2 border-x">Tên thành viên</th>
                <th class="sticky top-0 z-10  border-b backdrop-blur bg-gray-100/50 backdrop-filter  border-solid border-gray-300 px-2 border-x">Email</th>
                <th class="sticky top-0 z-10  border-b backdrop-blur bg-gray-100/50 backdrop-filter  border-solid border-gray-300 px-2 border-x">
                    <mat-checkbox color="primary"></mat-checkbox>
                </th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of accountants">
                <td class="custom-td align-middle items-center text-center border-b">
                  <img class="w-10 h-10 object-cover rounded-full" src="{{item.employee.avatar}}">
                </td>
                <td class="custom-td border-b">{{item.employee.employeeName}}</td>
                <td class="custom-td border-b">{{item.employee.email}}</td>
                <td class="custom-td border-b">
                    <mat-checkbox [(ngModel)]="item.employee.checked" [ngModelOptions]="{standalone: true}" color="primary" (change)="toggleAccountant(item.employee.id)"></mat-checkbox>
                </td>
              </tr>
          </tbody>

      </table>
    </div>
  </div>
</form>
