<div class="h-full flex flex-row w-full overflow-hidden">
  <div class="h-full max-w-sm bg-gray-100 my-1 mr-1 flex flex-col relative overflow-hidden" [ngClass]="class.left">
      <div class=" bg-white mx-6 my-1 h-8 flex items-center border border-solid border-gray-400 rounded-sm"
          *ngIf="class.statusbar">
          <i class="fa-solid fa-magnifying-glass fa-sm px-2 text-gray-400"></i>
          <input class="bg-white text-xs h-full" placeholder="Tìm kiếm khách hàng">
      </div>
      <div class="overflow-y-scroll h-full">
        <div>
          <div (click)="hasEmployee = !hasEmployee" class="w-full items-center hover:font-medium mt-2 hover:bg-zinc-200 cursor-pointer py-2 px-3 rounded-lg">
            <i class="text-base mr-3 fa-solid fa-user"></i>
            <span class="text-sm">Nhân viên</span>
          </div>
          <div *ngIf="hasEmployee" class="text-xs">
            <app-menu-collapse-tree></app-menu-collapse-tree>
          </div>
        </div>
        <app-menu-collapse (Selection)="selection($event)" [Config]="statusMenu"></app-menu-collapse>
        <app-menu-collapse (Selection)="selection($event)" [Config]="locationMenu"></app-menu-collapse>
        <app-menu-collapse (Selection)="selection($event)" [Config]="archiveMenu"></app-menu-collapse>
        <app-menu-collapse (Selection)="selection($event)" [Config]="customerMenu"></app-menu-collapse>
        <app-menu-collapse-search (Selection)="selection($event)" [Config]="categoryMenu"></app-menu-collapse-search>
        <app-menu-collapse-search (Selection)="selection($event)" [Config]="groupMenu"></app-menu-collapse-search>
        <app-menu-collapse-search (Selection)="selection($event)" [Config]="channelMenu"></app-menu-collapse-search>
        <div>
          <div (click)="isProvince = !isProvince" class="w-full items-center hover:font-medium mt-2 hover:bg-zinc-200 cursor-pointer py-2 px-3 rounded-lg">
            <i class="text-base mr-3 fa-solid fa-location-pin"></i>
            <span class="text-sm">Tỉnh thành/ quận huyện</span>
          </div>
          <div *ngIf="isProvince" class="text-xs">
            <div class="w-full items-center cursor-pointer py-2 px-3 rounded-lg">
              <span class="pl-4 text-[#0EAF8F] flex"><span class="flex flex-col justify-center"><i class="fa-solid fa-circle text-xs mr-3"></i></span>Tỉnh thành</span>
              <select class="border border-solid border-black my-1 p-1 rounded-sm text-xs w-full h-8">
                <option>Chọn tỉnh thành</option>
                <option>No Bug</option>
              </select>
            </div>
            <div class="w-full items-center cursor-pointer py-2 px-3 rounded-lg">
              <span class="pl-4 text-[#0EAF8F] flex"><span class="flex flex-col justify-center"><i class="fa-solid fa-circle text-xs mr-3"></i></span>Quận huyện</span>
              <select class="border border-solid border-black my-1 p-1 rounded-sm text-xs w-full h-8">
                <option>Chọn quận huyện</option>
                <option>No Bug</option>
              </select>
            </div>
            <div class="w-full items-center cursor-pointer py-2 px-3 rounded-lg">
              <span class="pl-4 text-[#0EAF8F] flex"><span class="flex flex-col justify-center"><i class="fa-solid fa-circle text-xs mr-3"></i></span>Xã phường</span>
              <select class="border border-solid border-black my-1 p-1 rounded-sm text-xs w-full h-8">
                <option>Chọn xã phường</option>
                <option>No Bug</option>
              </select>
            </div>
          </div>
        </div>
        <div>
          <div (click)="hasArea = !hasArea" class="w-full items-center hover:font-medium mt-2 hover:bg-zinc-200 cursor-pointer py-2 px-3 rounded-lg">
            <i class="text-base mr-3 fa-solid fa-earth-asia"></i>
            <span class="text-sm">Khu vực</span>
          </div>
          <div *ngIf="hasArea" class="text-xs">
            <app-menu-collapse-tree></app-menu-collapse-tree>
          </div>
        </div>
      </div>

      <button class="absolute w-5 h-8 top-0 right-0 bg-gray-50 border border-solid border-gray-300"
          (click)="closeSideBar()" *ngIf="class.statusbar">
          <i class="fa-solid fa-caret-left"></i>
      </button>
      <button class="absolute w-5 h-8 top-0 right-0 bg-gray-50 border border-solid border-gray-300"
          (click)="openSideBar()" *ngIf="!class.statusbar">
          <i class="fa-solid fa-caret-right"></i>
      </button>

  </div>
  <div class="h-full bg-gray-100 my-1 mr-1 flex flex-col" [ngClass]="class.right">
      <div class="w-full px-2 bg-white h-9 flex items-center text-lg font-medium">
          Danh sách khách hàng (0)
      </div>
      <div
          class="w-full px-2 py-1 bg-gray-100 border-gray-300 border-y border-solid h-10 flex flex-wrap items-center text-xs font-medium">
          <button class="w-fit px-3 py-2 flex flex-row items-center hover:bg-white" (click)="add()">
            <i class="fa-sharp fa-solid fa-plus text-emerald-500 font-bold mr-2"></i>
            Thêm mới
        </button>
          <app-menu-bar [menuObj]="menuObj" (message)="Select($event)" *ngFor="let menuObj of listMenuObj">
          </app-menu-bar>
          <button class="w-fit px-3 py-2 flex flex-row items-center hover:bg-white">
            <i class="fa-sharp fa-solid fa-refresh text-emerald-500 font-bold mr-2"></i>
            Tải lại
        </button>
      </div>
      <div class="overflow-scroll relative w-full">
          <div class="flex flex-row w-max">
              <table class="w-max sticky left-0 bg-gray-100 z-10">
                  <thead class="h-10 w-full text-sm sticky top-0">
                      <th class="w-10 border-x border-solid border-gray-300 px-2 bg-gray-100"><input type="checkbox">
                      </th>
                      <!-- <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Ảnh</th> -->
                      <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Trạng thái</th>
                      <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Mã khách hàng</th>
                  </thead>
                  <tbody>
                      <tr class="h-14 w-fit text-xs" *ngFor="let user of customer; let o=odd; let e=even;"
                          [ngClass]="{ 'bg-gray-100': o, 'bg-white': e }">
                          <td class="w-10 border-x border-solid align-middle px-2"><input type="checkbox">
                          </td>
                          <!-- <td class="border-x border-solid align-middle px-2">
                              <img class="w-20" [src]="user.img">
                          </td> -->
                          <td class="border-x w-fit border-solid align-middle px-2"><button class="text-xs bg-[#1891C9] text-white font-medium px-7 py-1 rounded-md">{{user.status}}</button>
                          </td>
                          <td class="border-x w-fit border-solid align-middle px-2">{{user.customerCode}}
                          </td>
                      </tr>
                  </tbody>
              </table>
              <table class="w-max">
                  <thead class="h-10 w-full text-sm sticky top-0">
                      <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Khách hàng
                      </th>
                      <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Nhóm khách hàng
                      </th>
                      <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Loại khách hàng</th>
                      <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Ngày cập nhật</th>
                      <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Kênh</th>
                      <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Địa chỉ</th>
                      <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Điạ chỉ giao hàng</th>
                      <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Tỉnh/Thành phố</th>
                      <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Quận/Huyện</th>
                      <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Sinh nhật</th>
                      <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Người liên hệ</th>
                      <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Chức vụ</th>
                      <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">SĐT</th>
                      <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Email</th>
                      <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Hạn mức công nợ</th>
                      <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">TK tiền/Chi phí/Nợ</th>
                      <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Người tạo</th>
                      <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Người sửa</th>
                  </thead>
                  <tbody>
                      <tr class="h-14 w-fit text-xs" *ngFor="let user of customer; let o=odd; let e=even;"
                          [ngClass]="{ 'bg-gray-100': o, 'bg-white': e }">
                          <td class="border-x w-fit border-solid align-middle px-2 cursor-pointer" (click)="DetailCustomer(user.customerId)">{{user.customerName}}</td>
                          <td class="border-x w-fit border-solid align-middle px-2 text-emerald-500 font-medium cursor-pointer">
                              {{user.customerGroupName}} </td>
                          <td class="border-x w-fit border-solid align-middle px-2">{{user.customerTypeName}} </td>
                          <td class="border-x w-fit border-solid align-middle px-2">{{user.lastModifiedDate}}</td>
                          <td class="border-x w-fit border-solid align-middle px-2">{{user.channelName}}</td>
                          <td class="border-x w-fit border-solid align-middle px-2">{{user.address}}</td>
                          <td class="border-x w-fit border-solid align-middle px-2">{{user.areaId}} </td>
                          <td class="border-x w-fit border-solid align-middle px-2">{{user.province}}</td>
                          <td class="border-x w-fit border-solid align-middle px-2">{{user.district}}</td>
                          <td class="border-x w-fit border-solid align-middle px-2"> {{user.dOB}} </td>
                          <td class="border-x w-fit border-solid align-middle px-2">{{user.contactName}} </td>
                          <td class="border-x w-fit border-solid align-middle px-2">{{user.position}} </td>
                          <td class="border-x w-fit border-solid align-middle px-2">{{user.phone}} </td>
                          <td class="border-x w-fit border-solid align-middle px-2">{{user.email}} </td>
                          <td class="border-x w-fit border-solid align-middle px-2">{{user.debtLimit}} </td>
                          <td class="border-x w-fit border-solid align-middle px-2">{{user.cashAcc}} </td>
                          <td class="border-x w-fit border-solid align-middle px-2">{{user.createdBy}} </td>
                          <td class="border-x w-fit border-solid align-middle px-2">{{user.lastModifiedBy}} </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
      <div class="w-full px-2 bg-gray-100 py-1 mb-1 flex flex-row justify-end items-center text-xs">
          <select class="bg-white px-3 py-1 border border-solid border-gray-500 rounded-sm">
              <option>30 bản ghi/trang</option>
          </select>
          <div class="flex w-6 h-6 mx-3 justify-center items-center text-white bg-green-600">1</div>
          <span>Hiển thị 1 - 9 trên tổng số 9 bản ghi</span>
      </div>
  </div>
</div>
