input {
  border: 0;
  outline: 0;
}

input:focus {
  outline: none !important;
}

:host ::ng-deep .mat-dialog-container {
  overflow: hidden;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 10px 0 10px 0;
}

:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 5px;
  padding-top: 5px;
}
