<div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Email</div>
    <div class="flex flex-row">
        <div class="text-red-500 mr-4">*</div>
        <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" *ngIf="status != 'view'">
        <div class="w-96 text-xs" *ngIf="status == 'view'">abc</div>
    </div>
</div>
<div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Mã nhân viên</div>
    <div class="flex flex-row">
        <div class="text-red-500 mr-4">*</div>
        <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" *ngIf="status != 'view'">
        <div class="w-96 text-xs" *ngIf="status == 'view'">abc</div>
    </div>
</div>
<div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Họ tên</div>
    <div class="flex flex-row">
        <div class="text-red-500 mr-4">*</div>
        <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" *ngIf="status != 'view'">
        <div class="w-96 text-xs" *ngIf="status == 'view'">abc</div>
    </div>
</div>
<div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Chức danh mẫu</div>
    <select class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" *ngIf="status != 'view'"></select>
    <div class="w-96 text-xs" *ngIf="status == 'view'">abc</div>
</div>
<div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Chức danh</div>
    <div class="flex flex-row">
        <div class="text-red-500 mr-4">*</div>
        <select class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" *ngIf="status != 'view'"></select>
        <div class="w-96 text-xs" *ngIf="status == 'view'">abc</div>
    </div>
</div>
<div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Ngôn ngữ</div>
    <select class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" *ngIf="status != 'view'"></select>
    <div class="w-96 text-xs" *ngIf="status == 'view'">abc</div>
</div>
<div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Trạng thái</div>
    <div class="w-96 text-xs">Hoạt động</div>
</div>
<div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Version Mobile
        <i class="fa-solid fa-circle-question"></i>
    </div>
    <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" disabled *ngIf="status != 'view'">
    <div class="w-96 text-xs" *ngIf="status == 'view'">abc</div>
</div>
<div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Thời gian online cuối
        <i class="fa-solid fa-circle-question"></i>
    </div>
    <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" disabled *ngIf="status != 'view'">
    <div class="w-96 text-xs" *ngIf="status == 'view'">abc</div>
</div>
<div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Thời gian đồng bộ cuối
        <i class="fa-solid fa-circle-question"></i>
    </div>
    <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" disabled *ngIf="status != 'view'">
    <div class="w-96 text-xs" *ngIf="status == 'view'">abc</div>
</div>
<div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Số điện thoại</div>
    <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" *ngIf="status != 'view'">
    <div class="w-96 text-xs" *ngIf="status == 'view'">abc</div>
</div>
<div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Chức vụ</div>
    <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" *ngIf="status != 'view'">
    <div class="w-96 text-xs" *ngIf="status == 'view'">abc</div>
</div>
<div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Bộ phận</div>
    <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" *ngIf="status != 'view'">
    <div class="w-96 text-xs" *ngIf="status == 'view'">abc</div>
</div>
<div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Ngày vào công ty</div>
    <div class="flex flex-row w-96" *ngIf="status != 'view'">
        <input class="border border-solid border-black p-1 rounded-sm w-20 text-xs h-7 mr-4" placeholder="Ngày" type="number" max="31" min="1">
        <input class="border border-solid border-black p-1 rounded-sm w-20 text-xs h-7 mr-4" placeholder="Tháng" type="number" max="12" min="1">
        <input class="border border-solid border-black p-1 rounded-sm w-20 text-xs h-7 mr-4" placeholder="Năm" type="number" min="1">
    </div>
    <div class="w-96 text-xs" *ngIf="status == 'view'">abc</div>
</div>
<div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-4">
    <div class="font-bold">Ngày rời công ty</div>
    <div class="flex flex-row w-96" *ngIf="status != 'view'">
        <input class="border border-solid border-black p-1 rounded-sm w-20 text-xs h-7 mr-4" placeholder="Ngày" type="number" max="31" min="1">
        <input class="border border-solid border-black p-1 rounded-sm w-20 text-xs h-7 mr-4" placeholder="Tháng" type="number" max="12" min="1">
        <input class="border border-solid border-black p-1 rounded-sm w-20 text-xs h-7 mr-4" placeholder="Năm" type="number" min="1">
    </div>
    <div class="w-96 text-xs" *ngIf="status == 'view'">abc</div>
</div>
<div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Địa chỉ</div>
    <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" *ngIf="status != 'view'">
    <div class="w-96 text-xs" *ngIf="status == 'view'">abc</div>
</div>
<div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-3">
    <div class="font-bold">Ngày rời công ty</div>
    <div class="flex flex-row w-96" *ngIf="status != 'view'">
        <input type="radio" name='gender' id="nam">
        <label class="mr-4 ml-2 text-sm" for="nam">Nam</label>
        <input type="radio" name='gender' id="nu">
        <label class="mr-4 ml-2 text-sm" for="nu">Nữ</label>
        <input type="radio" name='gender' id="n/a">
        <label class="mr-4 ml-2 text-sm" for="n/a">N/A</label>
    </div>
    <div class="w-96 text-xs" *ngIf="status == 'view'">abc</div>
</div>
<div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2 mb-4">
    <div class="font-bold">Ảnh đại diện</div>
    <div class="flex flex-row w-96 items-center">
        <img [src]="avt" class="w-40 h-40">
        <input type="file" class="hidden" #uploader (change)="uploadFile($event)">
        <button [disabled]="status != 'view'" class="flex flex-row mx-2 border border-solid h-fit bg-gray-100 px-2 py-1" (click)="uploader.click()">
            <span class="text-xs font-bold">Tải ảnh lên</span>
            <i class="fa-solid fa-upload mx-2 text-emerald-500"></i>
        </button>
        <button [disabled]="status != 'view'" class="flex flex-row mx-2 border border-solid h-fit bg-gray-100 px-2 py-1" (click)="deleteImage()">
            <span class="text-xs font-bold">Xóa ảnh</span>
        </button>
    </div>
</div>