<form [formGroup]="employee">
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
        <div class="font-bold">Email</div>
        <div class="flex flex-row">
            <div class="text-red-500 mr-4">*</div>
            <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" *ngIf="status != 'view'"
                formControlName="email">
            <div class="w-96 text-xs" *ngIf="status == 'view'">{{employee.value.email}}</div>
        </div>
    </div>
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
        <div class="font-bold">Mã nhân viên</div>
        <div class="flex flex-row">
            <div class="text-red-500 mr-4">*</div>
            <input formControlName="employeeCode"
                class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" *ngIf="status != 'view'">
            <div class="w-96 text-xs" *ngIf="status == 'view'">{{employee.value.employeeCode}}</div>
        </div>
    </div>
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
        <div class="font-bold">Họ tên</div>
        <div class="flex flex-row">
            <div class="text-red-500 mr-4">*</div>
            <input formControlName="employeeName"
                class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" *ngIf="status != 'view'">
            <div class="w-96 text-xs" *ngIf="status == 'view'">{{employee.value.employeeName}}</div>
        </div>
    </div>
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2" *ngIf="status != 'view'">
        <div class="font-bold">Mật khẩu</div>
        <div class="flex flex-row">
            <div class="text-red-500 mr-4">*</div>
            <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" formControlName="password">
        </div>
    </div>
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
        <div class="font-bold">Chức danh</div>
        <div class="flex flex-row">
            <div class="text-red-500 mr-4">*</div>
            <select class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" formControlName="employeeTitle"
                *ngIf="status != 'view'">
                <option value="ceo">Giám đốc</option>
            </select>
            <div class="w-96 text-xs" *ngIf="status == 'view'">{{employee.value.employeeTitle}}</div>
        </div>
    </div>
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
        <div class="font-bold">Ngôn ngữ</div>
        <select class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" *ngIf="status != 'view'"
            formControlName="langKey">
            <option value="vn">Việt Nam</option>
        </select>
        <div class="w-96 text-xs" *ngIf="status == 'view'">{{employee.value.langKey}}</div>
    </div>
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
        <div class="font-bold">Trạng thái</div>
        <div class="w-96 text-xs">Hoạt động</div>
    </div>
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
        <div class="font-bold">Version Mobile
            <i class="fa-solid fa-circle-question"></i>
        </div>
        <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" disabled
            *ngIf="status != 'view'">
        <div class="w-96 text-xs" *ngIf="status == 'view'"></div>
    </div>
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
        <div class="font-bold">Thời gian online cuối
            <i class="fa-solid fa-circle-question"></i>
        </div>
        <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" disabled
            *ngIf="status != 'view'">
        <div class="w-96 text-xs" *ngIf="status == 'view'"></div>
    </div>
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
        <div class="font-bold">Thời gian đồng bộ cuối
            <i class="fa-solid fa-circle-question"></i>
        </div>
        <input class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" disabled
            *ngIf="status != 'view'">
        <div class="w-96 text-xs" *ngIf="status == 'view'"></div>
    </div>
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
        <div class="font-bold">Số điện thoại</div>
        <input formControlName="phone" class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7"
            *ngIf="status != 'view'">
        <div class="w-96 text-xs" *ngIf="status == 'view'">{{employee.value.phone}}</div>
    </div>
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
        <div class="font-bold">Chức vụ</div>
        <input formControlName="position" class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7"
            *ngIf="status != 'view'">
        <div class="w-96 text-xs" *ngIf="status == 'view'">{{employee.value.position}}</div>
    </div>
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
        <div class="font-bold">Bộ phận</div>
        <input formControlName="department" class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7"
            *ngIf="status != 'view'">
        <div class="w-96 text-xs" *ngIf="status == 'view'">{{employee.value.department}}</div>
    </div>
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
        <div class="font-bold">Ngày vào công ty</div>
        <div class="flex flex-row w-96" *ngIf="status != 'view'">
            <input class="border border-solid border-black p-1 rounded-sm w-20 text-xs h-7 mr-4" placeholder="Ngày"
                type="number" [(ngModel)]="entranceDate.date" [ngModelOptions]="{standalone:true}" max="31" min="1">
            <input class="border border-solid border-black p-1 rounded-sm w-20 text-xs h-7 mr-4" placeholder="Tháng"
                type="number" [(ngModel)]="entranceDate.month" [ngModelOptions]="{standalone:true}" max="12" min="1">
            <input class="border border-solid border-black p-1 rounded-sm w-20 text-xs h-7 mr-4" placeholder="Năm"
                type="number" [(ngModel)]="entranceDate.year" [ngModelOptions]="{standalone:true}" min="1">
        </div>
        <div class="w-96 text-xs" *ngIf="status == 'view'">{{datePipe.transform(employee.value.entranceDate,'dd-MM-YYYY')}}</div>
    </div>
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-4">
        <div class="font-bold">Ngày rời công ty</div>
        <div class="flex flex-row w-96" *ngIf="status != 'view'">
            <input class="border border-solid border-black p-1 rounded-sm w-20 text-xs h-7 mr-4" placeholder="Ngày"
                type="number" max="31" min="1" [(ngModel)]="exitDate.date" [ngModelOptions]="{standalone:true}" >
            <input class="border border-solid border-black p-1 rounded-sm w-20 text-xs h-7 mr-4" placeholder="Tháng"
                type="number" max="12" min="1" [(ngModel)]="exitDate.month" [ngModelOptions]="{standalone:true}">
            <input class="border border-solid border-black p-1 rounded-sm w-20 text-xs h-7 mr-4" placeholder="Năm"
                type="number" min="1" [(ngModel)]="exitDate.year" [ngModelOptions]="{standalone:true}">
        </div>
        <div class="w-96 text-xs" *ngIf="status == 'view'">{{datePipe.transform(employee.value.exitDate,'dd-MM-YYYY')}}</div>
    </div>
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
        <div class="font-bold">Địa chỉ</div>
        <input formControlName="address" class="border border-solid border-black p-1 rounded-sm w-96 text-xs h-7" *ngIf="status != 'view'">
        <div class="w-96 text-xs" *ngIf="status == 'view'">{{employee.value.address}}</div>
    </div>
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-3">
        <div class="font-bold">Giới tính</div>
        <div class="flex flex-row w-96" *ngIf="status != 'view'">
            <input type="radio" formControlName='gender' id="nam" [value]="0">
            <label class="mr-4 ml-2 text-sm" for="nam">Nam</label>
            <input type="radio" formControlName='gender' id="nu" [value]="1">
            <label class="mr-4 ml-2 text-sm" for="nu">Nữ</label>
            <input type="radio" formControlName='gender' id="n/a" [value]="2">
            <label class="mr-4 ml-2 text-sm" for="n/a">N/A</label>
        </div>
        <div class="w-96 text-xs" *ngIf="status == 'view'">{{employee.value.gender}}</div>
    </div>
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2 mb-4">
        <div class="font-bold">Ảnh đại diện</div>
        <div class="flex flex-row w-96 items-center">
            <img [src]="avt" class="w-40 h-40">
            <input type="file" class="hidden" #uploader (change)="uploadFile($event)">
            <button [disabled]="status != 'view'"
                class="flex flex-row mx-2 border border-solid h-fit bg-gray-100 px-2 py-1" (click)="uploader.click()">
                <span class="text-xs font-bold">Tải ảnh lên</span>
                <i class="fa-solid fa-upload mx-2 text-emerald-500"></i>
            </button>
            <button [disabled]="status != 'view'"
                class="flex flex-row mx-2 border border-solid h-fit bg-gray-100 px-2 py-1" (click)="deleteImage()">
                <span class="text-xs font-bold">Xóa ảnh</span>
            </button>
        </div>
    </div>
</form>