<div *ngIf="isShowSidebar" class="min-h-screen p-3 w-60 border-r">
    <div class="w-full flex items-center justify-between">
        <div class="py-1 px-1.5 bg-zinc-300 rounded">
            <i
                (click)="toggleShowSidebar()"
                class="w-1/12 fa-solid fa-bars text-lg cursor-pointer hover:opacity-70"></i>
        </div>
        <mat-form-field class="w-10/12 text-[12px]" appearance="outline">
            <mat-label>Tìm công việc</mat-label>
            <input matInput class="bg-white" />
            <i matPrefix class="text-[#0EAF8F] mr-1 fa-solid -translate-y-1 text-base icon fa-magnifying-glass"> </i>
        </mat-form-field>
    </div>
    <div class="w-full items-center hover:font-medium flex mt-2 hover:bg-zinc-200 cursor-pointer py-2 px-3 rounded-lg">
        <i class="fa-solid fa-user mr-3 text-base"></i>
        <span class="text-sm">Nhân viên đặt</span>
    </div>
    <div
        (click)="statusMenu = !statusMenu"
        class="w-full justify-between items-center hover:font-medium flex mt-2 hover:bg-zinc-200 cursor-pointer py-2 px-3 rounded-lg">
        <div>
            <i class="fa-solid fa-flag-usa mr-3 text-base"></i>
            <span class="text-sm">Trạng thái</span>
        </div>
        <i *ngIf="!statusMenu" class="fa-solid fa-caret-down"></i>
        <i *ngIf="statusMenu" class="fa-solid fa-caret-up"></i>
    </div>
    <!-- Trạng thái menu -->
    <div *ngIf="statusMenu">
        <div
            class="w-full items-center hover:font-medium flex mt-2 pl-10 hover:bg-zinc-200 cursor-pointer py-2 px-3 rounded-lg">
            <span class="text-sm">Tất cả</span>
        </div>
        <div
            class="w-full items-center hover:font-medium flex mt-2 pl-10 hover:bg-zinc-200 cursor-pointer py-2 px-3 rounded-lg">
            <span class="text-sm">Chờ duyệt</span>
        </div>
        <div
            class="w-full items-center hover:font-medium flex mt-2 pl-10 hover:bg-zinc-200 cursor-pointer py-2 px-3 rounded-lg">
            <span class="text-sm">Từ chối</span>
        </div>
        <div
            class="w-full items-center hover:font-medium flex mt-2 pl-10 hover:bg-zinc-200 cursor-pointer py-2 px-3 rounded-lg">
            <span class="text-sm">Đã duyệt</span>
        </div>
        <div
            class="w-full items-center hover:font-medium flex mt-2 pl-10 hover:bg-zinc-200 cursor-pointer py-2 px-3 rounded-lg">
            <span class="text-sm">Đã giám sát</span>
        </div>
        <div
            class="w-full items-center hover:font-medium flex mt-2 pl-10 hover:bg-zinc-200 cursor-pointer py-2 px-3 rounded-lg">
            <span class="text-sm">Đã bán hàng</span>
        </div>
        <div
            class="w-full items-center hover:font-medium flex mt-2 pl-10 hover:bg-zinc-200 cursor-pointer py-2 px-3 rounded-lg">
            <span class="text-sm">Đã xuất hàng</span>
        </div>
        <div
            class="w-full items-center hover:font-medium flex mt-2 pl-10 hover:bg-zinc-200 cursor-pointer py-2 px-3 rounded-lg">
            <span class="text-sm">Đã giao hàng</span>
        </div>
        <div
            class="w-full items-center hover:font-medium flex mt-2 pl-10 hover:bg-zinc-200 cursor-pointer py-2 px-3 rounded-lg">
            <span class="text-sm">Hủy</span>
        </div>
    </div>
</div>
<!-- sidebar when collapse -->
<div *ngIf="!isShowSidebar" class="min-h-screen p-2 border-r">
    <div class="py-1 px-1.5 bg-zinc-300 rounded">
        <i (click)="toggleShowSidebar()" class="w-1/12 fa-solid fa-bars text-sm cursor-pointer hover:opacity-70"></i>
    </div>
</div>
