<!-- <div style="font-size: 12px">
  <div class="flex gap-x-6 justify-between">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Mã phiếu</mat-label>
      <input matInput [disabled]="true" />
    </mat-form-field>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Ngày đặt</mat-label>
      <input matInput [matDatepicker]="picker" [disabled]="true" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Ngày giao</mat-label>
      <input [disabled]="true" matInput [matDatepicker]="picker3" />
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Ngày giao</mat-label>
      <input [disabled]="true" matInput [matDatepicker]="picker2" />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="flex gap-x-6 justify-between">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Nhóm</mat-label>
      <mat-select>
        <input [disabled]="true" placeholder="Tìm kiếm..." style="padding-left: 12px" matInput
          class="h-10 rounded-sm" />
        <mat-option *ngFor="let city of groupCites" [value]="city">{{ city }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Nhân viên đặt</mat-label>
      <mat-select [disabled]="true">
        <input placeholder="Tìm kiếm..." style="padding-left: 12px" matInput class="h-10 rounded-sm" />
        <mat-option *ngFor="let city of groupCites" [value]="city">{{ city }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Tuyến</mat-label>
      <mat-select [disabled]="true">
        <input placeholder="Tìm kiếm..." style="padding-left: 12px" matInput class="h-10 rounded-sm" />
        <mat-option *ngFor="let city of groupCites" [value]="city">{{ city }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Nhân viên bán</mat-label>
      <mat-select [disabled]="true">
        <input placeholder="Tìm kiếm..." style="padding-left: 12px" matInput class="h-10 rounded-sm" />
        <mat-option *ngFor="let city of groupCites" [value]="city">{{ city }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="flex gap-x-6 justify-between">
    <mat-form-field class="w-1/3" appearance="outline">
      <mat-label>Mã Khách hàng</mat-label>
      <input [disabled]="true" matInput />
    </mat-form-field>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Khách hàng</mat-label>
      <input [disabled]="true" matInput />
    </mat-form-field>
  </div>
  <div class="flex gap-x-6 justify-between">
    <mat-form-field class="w-1/3" appearance="outline">
      <mat-label>SĐT</mat-label>
      <input [disabled]="true" matInput />
    </mat-form-field>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Địa chỉ</mat-label>
      <input [disabled]="true" matInput />
    </mat-form-field>
  </div>
  <mat-form-field class="w-full" appearance="outline">
    <mat-label>Diễn giải</mat-label>
    <textarea [disabled]="true" matInput></textarea>
  </mat-form-field>
</div> -->
<form [formGroup]="form" (ngSubmit)="submit()">
  <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
  <!-- <button #submitButton type="submit" class="">123</button> -->
</form>
<pre>Form values: {{ form?.value | json }}</pre>
<pre>Form values: {{ model | json }}</pre>