<div class="min-h-screen bg-zinc-100 p-3">
  <mat-form-field class="w-full" appearance="outline">
    <mat-label>Tìm công việc</mat-label>
    <input matInput class="bg-white">
    <span matPrefix><i class="text-[#0EAF8F] fa-solid -translate-y-1 text-lg icon fa-magnifying-glass"></i></span>
    <mat-error class="text-red-500 font-bold"
      *ngIf="">
      <i class="fa-solid fa-circle-exclamation mr-2"></i>Không được để trống mật khẩu.</mat-error>
  </mat-form-field>

    <div>
      
    </div>
</div>
