<div class="relative mt-2" style="font-size: 12px">
  <table class="min-w-full border-spacing-0 border-separate bg-gray-300 z-10">
    <thead class="h-10  border-gray-300 ">
      <tr>
        <th scope="col"
          class="sticky top-0 z-10 border-b backdrop-blur bg-gray-100/50 backdrop-filter border-solid border-gray-300 px-2 border-x">
          #</th>
        <th scope="col"
          class="sticky top-0 z-10 border-b backdrop-blur bg-gray-100/50 backdrop-filter border-solid border-gray-300 px-2 border-x">
          Mã SP</th>
        <th scope="col"
          class="sticky top-0 z-10 border-b backdrop-blur bg-gray-100/50 backdrop-filter border-solid border-gray-300 px-2 border-x">
          Tên sản phẩm</th>
        <th scope="col"
          class="sticky top-0 z-10 border-b backdrop-blur bg-gray-100/50 backdrop-filter border-solid border-gray-300 px-2 border-x">
          ĐVT</th>
        <th scope="col"
          class="sticky top-0 z-10 border-b backdrop-blur bg-gray-100/50 backdrop-filter border-solid border-gray-300 px-2 border-x">
          Kho xuất</th>
        <th scope="col"
          class="sticky top-0 z-10 border-b backdrop-blur max-w-[80px] bg-gray-100/50 backdrop-filter border-solid border-gray-300 px-2 border-x">
          SL bán
        </th>
        <th scope="col"
          class="sticky top-0 z-10 border-b backdrop-blur bg-gray-100/50 backdrop-filter border-solid border-gray-300 px-2 border-x">
          SL đã xuất</th>
        <th scope="col"
          class="sticky top-0 z-10 border-b backdrop-blur bg-gray-100/50 backdrop-filter border-solid border-gray-300 px-2 border-x">
          SL trả</th>
        <th scope="col"
          class="sticky top-0 z-10 min-w-[200px] border-b backdrop-blur bg-gray-100/50 backdrop-filter border-solid border-gray-300 px-2 border-x">
          Ghi chú</th>
        <th scope="col"
          class="sticky top-0 z-10 border-b backdrop-blur bg-gray-100/50 backdrop-filter border-solid border-gray-300 px-2 border-x">
          Xóa</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productsInput;let i =index; let o=odd; let e=even;"
        [ngClass]="{ 'bg-gray-100': o, 'bg-white': e } " class="h-8 w-fit text-sm">
        <td class="space-x-2 border-x border-solid align-midde h-full pl-2">{{ i + 1 }}</td>
        <td class="border-x  border-solid align-middle px-2 text-center">{{item.product.sku}}</td>
        <td class="border-x  border-solid align-middle px-2 text-center">{{item.product.productName}}</td>
        <td class="border-x  border-solid align-middle px-2 max-w-[80px] text-[12px] text-center">
          <div class="flex">
            {{item.unit?.unitName}}
          </div>
        </td>
        <td class="border-x max-w-[120px]  align-middle px-2 text-center">
          {{item.warehouse?.warehouseName}}
        </td>
        <td class="border-x max-w-[80px]  border-solid align-middle px-2 text-center">
          {{item.salesQuantity}}
        </td>
        <td class="border-x max-w-[40px] border-solid align-middle px-2 text-center">{{item.exportQuantity}}
        </td>
        <td class="border-x max-w-[80px]  border-solid align-middle px-2 text-center">
          <div class="flex">
            <mat-form-field appearance="outline">
              <input currencyMask
                [options]="{ suffix: '', thousands: '.',prefix :'', decimal: ',' ,precision :0 ,allowNegative :false}"
                matInput [ngModel]="item.returnsQuantity"
                (ngModelChange)="item.returnsQuantity=$event;checkReturnsQuantity(item)" [max]="item.salesQuantity" />
            </mat-form-field>
          </div>
        </td>
        <td class="border-x  border-solid align-middle px-2 max-w-[80px] text-center">
          <div class="flex">
            <mat-form-field appearance="outline">
              <textarea matInput [rows]="1" [(ngModel)]="item.note"></textarea>
            </mat-form-field>
          </div>
        </td>
        <td class="border-x  border-solid align-middle px-2 text-center">
          <i (click)="removeProductFromReturn(item.product?.id)"
            class="fa-solid fa-trash text-sm cursor-pointer hover:opacity-70"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <pre>Form values: {{ productsInput | json }}</pre> -->
</div>