<mat-drawer-container [hasBackdrop]="false" class="fixed top-0 left-0 right-0 bottom-0">
    <mat-drawer #sidenav mode="side" class="fixed top-16 left-0 bottom-0 overflow-y-auto z-10">
        <order-template-sidebar [type]="'Sale'" [body]="body" (body$)="handleEmitBody($event)"></order-template-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <div class="bg-[#f2f2f2] fixed bottom-0 top-16 z-10 border-r border-gray-300 border-solid">
            <button
                (click)="sidenav.toggle()"
                class="h-5 flex items-center justify-center border-solid border-2 border-slate-400 py-4 px-2">
                <i *ngIf="sidenav?.opened" class="fa-solid fa-caret-right"></i>
                <i *ngIf="!sidenav?.opened" class="fa-solid fa-caret-left"></i>
            </button>
        </div>
        <div class="ml-8 px-1">
            <order-template-header
                [total]="(total$ | async) || 0"
                [titleHeader]="'Danh sách đơn bán hàng'"
                [quantitySelected]="listIdSelected.length"
                (dateFilter$)="handleFilterDate($event)">
                <!-- options select to edit -->
                <div class="flex mt-2 font-medium">
                    <button *ngIf="roleMain != 'member'" class="p-2 button-option mr-2" [matMenuTriggerFor]="addMenu">
                        <i class="fa-solid fa-plus text-green-700 text-sm font-bold mr-1"></i>
                        <span>Thêm mới</span>
                        <i class="fa-solid fa-caret-down text-green-700 text-sm font-bold ml-1"></i>
                    </button>
                    <!-- menu thêm mới của Phiếu đặt hàng | Phiếu bán hàng | Phiếu trả hàng -->
                    <mat-menu #addMenu="matMenu">
                        <!-- phiếu đặt hàng -->
                        <div>
                            <button mat-menu-item class="flex text-sm" [routerLink]="['/order/sale/create']">
                                <i class="fa-solid fa-hockey-puck mr-2 text-green-700"></i>
                                <span class="text-sm">Thêm mới đơn hàng</span>
                            </button>
                        </div>
                    </mat-menu>
                    <button class="p-2 button-option mr-2" (click)="refresh()">
                        <i class="fa-solid fa-arrows-rotate text-green-700 text-sm font-bold mr-1"></i>
                        <span>Tải lại</span>
                    </button>
                    <!-- <button class="p-2 button-option mr-2" [matMenuTriggerFor]="importData">
                        <i class="fa-solid fa-file-import text-green-700 text-sm font-bold mr-1"></i>
                        <span>Nhập dữ liệu</span>
                        <i class="fa-solid fa-caret-down text-green-700 text-sm font-bold ml-1"></i>
                    </button> -->
                    <mat-menu #importData="matMenu">
                        <button mat-menu-item>Nhập theo mẫu excel</button>
                    </mat-menu>
                    <button class="p-2 button-option mr-2" [matMenuTriggerFor]="exportData">
                        <i class="fa-solid fa-file-export text-green-700 text-sm font-bold mr-1"></i>
                        <span>Xuất dữ liệu</span>
                        <i class="fa-solid fa-caret-down text-green-700 text-sm font-bold ml-1"></i>
                    </button>
                    <mat-menu #exportData="matMenu">
                        <button mat-menu-item [matMenuTriggerFor]="exportMenu">Xuất file Kế toán</button>
                        <mat-menu #exportMenu="matMenu">
                            <button mat-menu-item (click)="export()">
                                <i class="fa-regular fa-circle-check mr-2"></i>
                                Được chọn
                            </button>
                            <button mat-menu-item (click)="exportWithFilter()">
                                <i class="fa-brands fa-searchengin mr-2"></i>
                                Điều kiện tìm
                            </button>
                        </mat-menu>
                    </mat-menu>

                    <button class="p-2 button-option mr-2" [matMenuTriggerFor]="printMenu">
                        <i class="fa-solid fa-print text-green-700 text-sm font-bold mr-1"></i>
                        <span>In</span>
                        <i class="fa-solid fa-caret-down text-green-700 text-sm font-bold ml-1"></i>
                    </button>
                    <mat-menu #exportData="matMenu" #printMenu="matMenu">
                        <button mat-menu-item [matMenuTriggerFor]="printMenu1">In theo mẫu A4</button>
                        <mat-menu #printMenu1="matMenu">
                            <button mat-menu-item (click)="print()">
                                <i class="fa-regular fa-circle-check mr-2"></i>
                                Được chọn
                            </button>
                            <button mat-menu-item (click)="printWithFilter()">
                                <i class="fa-brands fa-searchengin mr-2"></i>
                                Điều kiện tìm
                            </button>
                        </mat-menu>
                    </mat-menu>
                    <button class="p-2 button-option mr-2" [matMenuTriggerFor]="filterByTime">
                        <i class="fa-solid fa-calendar text-green-700 text-sm font-bold mr-1"></i>
                        <span>Lọc thời gian</span>
                        <i class="fa-solid fa-caret-down text-green-700 text-sm font-bold ml-1"></i>
                    </button>
                    <mat-menu #filterByTime="matMenu" #printMenu="matMenu">
                        <button mat-menu-item (click)="filterDateWithTime(1)">Ngày tạo</button>
                        <button mat-menu-item (click)="filterDateWithTime(2)">Ngày sửa</button>
                        <button mat-menu-item (click)="filterDateWithTime(3)">Ngày bán hàng</button>
                        <button mat-menu-item (click)="filterDateWithTime(4)">Ngày đặt hàng</button>
                        <button mat-menu-item (click)="filterDateWithTime(5)">Ngày giao hàng</button>
                    </mat-menu>
                    <button class="p-2 button-option mr-2" [matMenuTriggerFor]="sortMenu">
                        <i class="fa-solid fa-sort text-green-700 text-sm font-bold mr-1"></i>
                        <span>Sắp xếp</span>
                        <i class="fa-solid fa-caret-down text-green-700 text-sm font-bold ml-1"></i>
                    </button>
                    <mat-menu #sortMenu="matMenu" #printMenu="matMenu">
                        <button
                            mat-menu-item
                            [ngClass]="{ 'bg-zinc-100': createdDateUp }"
                            mat-menu-item
                            (click)="sortByCreatedDate('up')">
                            <i class="fa-solid fa-arrow-up mr-1"></i>
                            <span>Ngày tạo</span>
                        </button>
                        <button
                            mat-menu-item
                            [ngClass]="{ 'bg-zinc-100': createdDateDown }"
                            mat-menu-item
                            (click)="sortByCreatedDate('down')">
                            <i class="fa-solid fa-arrow-down mr-1"></i>
                            <span>Ngày tạo</span>
                        </button>
                    </mat-menu>
                    <button class="p-2 button-option mr-2" [matMenuTriggerFor]="manageMenu">
                        <i class="fa-solid fa-lock text-green-700 text-sm font-bold mr-1"></i>
                        <span>Quản trị</span>
                        <i class="fa-solid fa-caret-down text-green-700 text-sm font-bold ml-1"></i>
                    </button>
                    <mat-menu #sortMenu="matMenu" #manageMenu="matMenu">
                        <button mat-menu-item class="flex items-center justify-between" (click)="archiveOrders()">
                            <i class="fa-solid fa-trash mr-2"></i>
                            <span>Xóa nhiều</span>
                        </button>
                    </mat-menu>
                </div>
            </order-template-header>
            <order-template-table
                [headers]="saleHeader"
                [isLoading]="(isLoading$ | async) || false"
                [listData]="listData$ | async"
                [total]="(total$ | async) || 0"
                [page]="page"
                (listIdsSelected$)="handleEmitListIdSelected($event)"
                (emitValue$)="handleEmitId($event)"></order-template-table>
            <order-template-pagination (pageCurrent$)="handleChangePage($event)"></order-template-pagination>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
