<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav [mode]="'side'" class="fixed" [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0" #sidenav
    [position]="'start'" class=" overflow-hidden relative z-50 navbar-container">
    <app-returns-sidenav></app-returns-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="">
    <div class=" bg-[#f2f2f2] fixed bottom-0 top-16 z-10 border-r border-gray-300 border-solid">
      <button (click)="sidenav.toggle()"
        class=" h-5 flex items-center justify-center border-solid border-2 border-slate-400 py-4 px-2">
        <i *ngIf="sidenav?.opened" class="fa-solid fa-caret-right"></i>
        <i *ngIf="!sidenav?.opened" class="fa-solid fa-caret-left"></i>
      </button>
    </div>
    <div class="flex h-full w-full pl-[26px] pb-9">
      <div class="flex w-full h-full relative flex-col">
        <div class="z-0  ">
          <!-- header -->
          <div class="mt-2 px-2 flex justify-between items-center">
            <span class="text-xl font-medium">Danh sách trả hàng ({{totalReturns$ |async}}) </span>
            <div style="font-size: 12px" class="flex items-center ">
              <mat-form-field appearance="outline" class="mr-2 " [formGroup]="dateSearchForm">
                <mat-label class="font-bold">Khoảng thời gian</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date" formControlName="fromDate" />
                  <input matEndDate placeholder="End date" formControlName="toDate" />
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker-toggle matSuffix>
                  <mat-icon matDatepickerToggleIcon (click)="clearDatePicker()">clear</mat-icon>
                </mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
              <button mat-button class="ml-4 text-center  px-2 py-2 rounded-md bg-zinc-300 h-11  w-full font-bold "
                (click)="filterDate()">
                <i class=" fa-solid text-base icon fa-magnifying-glass"></i>
              </button>
            </div>
          </div>
          <!-- options select to edit -->
          <div class="flex mt-2 p-2 bg-[#f2f2f2] border-y border-solid border-slate-400">
            <button *ngIf="requiredRoles('accountant') | async"
              class="w-fit px-3 py-2 flex flex-row items-center hover:bg-white" [matMenuTriggerFor]="addMenu"><i
                class="fa-sharp fa-solid fa-plus text-emerald-500 font-bold mr-2"></i>Thêm mới</button>
            <mat-menu #addMenu="matMenu">
              <!-- phiếu đặt hàng -->
              <div>
                <button mat-menu-item class="flex text-sm" [routerLink]="['/returns/create_return_order']">
                  <i class="fa-solid fa-hockey-puck mr-2 text-green-700"></i>
                  <span class="text-sm">Thêm mới phiếu trả hàng</span>
                </button>
              </div>
            </mat-menu>
            <app-menu-bar [menuObj]="menuObj" (message)="select($event)" *ngFor="let menuObj of listMenu">
            </app-menu-bar>
            <!-- <app-menu-bar [menuObj]="menuObj" (message)="sortTime($event)" *ngFor="let menuObj of timeSortList">
            </app-menu-bar> -->
          </div>
        </div>
        <div class="w-full table-container overflow-scroll">
          <app-returns-table>
          </app-returns-table>
        </div>
      </div>
    </div>
    <div
      class="fixed bottom-0 right-0 ml-[26px] left-0 h-9 px-2 flex items-center justify-end bg-[#f2f2f2] border-t border-solid border-slate-400">
      <app-returns-pagination></app-returns-pagination>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<ng-template #statusTml let-label="label" let-className="className" let-icon="icon">
  <button [ngClass]="[ className ? className : '']">
    {{ label }}
  </button>
</ng-template>