<div class="flex items-center mt-2 justify-between">
    <div class="flex items-center">
        <mat-form-field style="font-size: 8px; padding-bottom: 0px" appearance="outline">
            <mat-label style="font-size: 14px">Search</mat-label>
            <mat-select style="font-size: 12px">
                <!-- <input
                    (input)="searchListProductActive($event)"
                    placeholder="Tìm kiếm..."
                    style="padding-left: 12px"
                    matInput
                    class="h-10 rounded-sm" /> -->
                <mat-option>
                    <ngx-mat-select-search
                        [formControl]="productFilterCtrl"
                        noEntriesFoundLabel="Không tìm thấy sản phẩm nào"
                        placeholderLabel="Tìm kiếm sản phẩm"></ngx-mat-select-search>
                </mat-option>
                <mat-option [value]="0">--Chọn sản phẩm--</mat-option>
                <mat-option
                    (onSelectionChange)="addProductBySearch(product, $event)"
                    style="height: 50px"
                    class="flex flex-col"
                    *ngFor="let product of listSearchedProduct">
                    <div>{{ product?.sku }} - {{ product.productName }}</div>
                    <div class="mt-[-16px]">Giá: {{ product?.price }} - Giá lẻ: {{ product?.retailPrice }}</div>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button
            (click)="openDialogProduct()"
            class="text-gray-600 flex items-center ml-3 px-1 py-1.5 bg-zinc-200 hover:bg-zinc-300 rounded-lg hover:font-medium">
            <i class="fa-solid fa-filter mr-2 px-2"></i>
            <span class="px-2">Tìm kiếm nâng cao</span>
        </button>
        <button
            class="text-white flex items-center ml-3 px-1 py-1.5 bg-rose-500 hover:bg-rose-600 rounded-lg hover:font-medium">
            <i class="h-full fa-solid fa-bookmark mr-2 px-2"></i>
            <span class="px-2">Khuyến mại</span>
        </button>
    </div>
    <div class="flex items-center">
        <!-- <button
            class="text-gray-600 flex items-center ml-3 px-1 py-1.5 bg-zinc-200 hover:bg-zinc-300 rounded-lg hover:font-medium mr-3">
            <i class="fa-solid fa-file-import mr-2 px-2"></i>
            <span class="px-2">Nhập excel</span>
        </button> -->
        <div>
            <mat-select
                style="width: fit-content"
                (selectionChange)="setWareHouseToAllProduct($event.value)"
                class="text-gray-600 flex items-center ml-3 px-1 py-1.5 bg-zinc-200 hover:bg-zinc-300 rounded-lg hover:font-medium cursor-pointer"
                [value]="0">
                <mat-option [value]="0" class="bg-white hover:bg-zinc-300">--Chọn kho mặc định--</mat-option>
                <mat-option
                    *ngFor="let warehouse of listWarehouse"
                    [value]="warehouse.id"
                    class="bg-white hover:bg-zinc-300">
                    {{ warehouse.warehouseName }}
                </mat-option>
            </mat-select>
        </div>
    </div>
</div>
<div class="relative sm:rounded-lg mt-2" style="font-size: 12px">
    <table class="custom-table">
        <thead class="custom-thead">
            <tr class="row-customize">
                <th scope="col" class="custom-th">#</th>
                <th scope="col" class="custom-th">Mã SP</th>
                <th scope="col" class="custom-th">Tên sản phẩm</th>
                <th scope="col" class="custom-th">ĐVT</th>
                <th scope="col" class="custom-th">Kho xuất</th>
                <th scope="col" class="custom-th">
                    Số lượng
                    <!-- <span class="text-red-500">(Tổng: 0)</span> -->
                </th>
                <th scope="col" class="custom-th">Đơn giá</th>
                <th scope="col" class="custom-th">Thành tiền</th>
                <th scope="col" class="custom-th">Chiết khấu</th>
                <th scope="col" class="custom-th">Tỷ lệ CK</th>
                <th scope="col" class="custom-th">Ghi chú</th>
                <th scope="col" class="custom-th">Xóa</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of listProduct; index as i" class="custom-tr">
                <td class="custom-th">{{ i + 1 }}</td>
                <td class="custom-th">{{ product.product.sku }}</td>
                <td class="custom-th">{{ product.product.productName }}</td>
                <td class="custom-th">
                    <mat-form-field appearance="outline" floatLabel="always" style="width: 100px">
                        <mat-select [value]="product.unitId">
                            <mat-option
                                *ngIf="product.product?.retailUnit"
                                (click)="selectUnit(product, 'retail')"
                                [value]="product?.product?.retailUnit?.id">
                                Lẻ - {{ product?.product?.retailUnit?.unitName || 'No Data' }}
                            </mat-option>
                            <mat-option
                                *ngIf="product.product?.wholeSaleUnit"
                                (click)="selectUnit(product, 'whosale')"
                                [value]="product?.product?.wholeSaleUnit?.id">
                                Chẵn - {{ product?.product?.wholeSaleUnit?.unitName || 'No Data' }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td class="custom-th">
                    <mat-form-field appearance="outline" floatLabel="always" style="width: 100px">
                        <mat-select
                            [value]="product.warehouseId"
                            (selectionChange)="product.warehouseId = $event.value">
                            <mat-option *ngFor="let warehouse of listWarehouse" [value]="warehouse.id">
                                {{ warehouse.warehouseName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td class="custom-th">
                    <mat-form-field appearance="outline" style="width: 80px" floatLabel="always">
                        <input
                            currencyMask
                            [options]="{
                                suffix: '',
                                thousands: '.',
                                prefix: '',
                                decimal: ',',
                                precision: 0,
                                allowNegative: false
                            }"
                            matInput
                            [ngModel]="product.quantity"
                            (ngModelChange)="
                                product.quantity = $event;
                                product.totalPrice = product.quantity * product.unitPrice;
                                countDiscount(product)
                            "
                            [ngModelOptions]="{ standalone: true }" />
                        <!-- <input
                            min="0"
                            type="number"
                            matInput
                            [(ngModel)]="product.quantity"
                            (input)="
                                product.totalPrice = product.quantity * product.unitPrice;
                                discountRate(product)
                            "
                            [ngModelOptions]="{ standalone: true }" /> -->
                    </mat-form-field>
                </td>
                <td class="custom-th">{{ product.unitPrice | currency: 'VND':'symbol' }}</td>
                <td class="custom-th">{{ product.totalPrice | currency: 'VND':'symbol' }}</td>
                <td class="custom-th">
                    <mat-form-field appearance="outline" style="width: 80px" floatLabel="always">
                        <input
                            currencyMask
                            [options]="{
                                suffix: 'đ',
                                thousands: '.',
                                prefix: '',
                                decimal: ',',
                                precision: 0,
                                allowNegative: false
                            }"
                            matInput
                            [ngModel]="product.discount"
                            (ngModelChange)="product.discount = $event; discountRate(product)"
                            [ngModelOptions]="{ standalone: true }" />
                        <!-- <input
                            min="0"
                            type="number"
                            matInput
                            [(ngModel)]="product.discount"
                            (input)="discountRate(product)"
                            [ngModelOptions]="{ standalone: true }" /> -->
                    </mat-form-field>
                </td>
                <td class="custom-th">
                    <mat-form-field appearance="outline" style="width: 80px" floatLabel="always">
                        <input
                            currencyMask
                            [options]="{
                                suffix: '%',
                                thousands: '.',
                                prefix: '',
                                decimal: ',',
                                precision: 0,
                                allowNegative: false
                            }"
                            matInput
                            [ngModel]="product.discountRate"
                            (ngModelChange)="product.discountRate = $event; countDiscount(product)"
                            [ngModelOptions]="{ standalone: true }" />
                        <!-- <input
                            min="0"
                            type="number"
                            matInput
                            (input)="countDiscount(product)"
                            [(ngModel)]="product.discountRate"
                            [ngModelOptions]="{ standalone: true }" /> -->
                    </mat-form-field>
                </td>
                <td class="custom-th">
                    <mat-form-field appearance="outline" style="width: 80px" floatLabel="always">
                        <input
                            type="text"
                            matInput
                            [(ngModel)]="product.note"
                            [ngModelOptions]="{ standalone: true }" />
                    </mat-form-field>
                </td>
                <td class="custom-th" (click)="stopPropagation($event); unChoose(product)">
                    <i class="fa-solid fa-trash text-sm cursor-pointer hover:opacity-70"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
