<div class="fixed z-10 bg-white w-full">
  <div class="p-3 w-full flex justify-between items-center">
    <span class="font-medium text-[20px]">Thêm mới phiếu trả hàng</span>
    <div class="flex items-center">
      <button type="button" (click)="submitForms()" class="button-primary-sm flex items-center justify-between mr-2">
        <i class="fa-solid fa-check text-white mr-2"></i>
        <span class="text-white">Lưu</span>
      </button>
      <button class="button-danger" [routerLink]="['/returns']">
        <i class="fa-solid fa-ban text-white mr-2"></i>
        <span class="text-white">Đóng</span>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
</div>
<div class="p-3 mt-16">
  <app-create-return-form></app-create-return-form>

  <!-- Sản phẩm đặt hàng -->
  <div>
    <button class=" py-2"><span class="text-base text-gray-800 underline-offset-2 underline">Sản phẩm đặt
        hàng</span></button>
    <div class="flex items-center mt-2 ">
      <div class="mat-input-infix  w-1/4 mt-1">
        <ng-select #Product class="pb-0" [appearance]="'outline'" class="flex-1 " (change)="handleChangeSelect($event)"
          [items]="products$ |async" [placeholder]="'Tên sản phẩm'">

        </ng-select>
      </div>
      <div class="flex items-center">
        <button (click)="openDialogProduct('products')"
          class="text-gray-600 flex items-center ml-3 px-1 py-1.5 bg-zinc-200 hover:bg-zinc-300 rounded-lg hover:font-medium">
          <i class="fa-solid fa-filter mr-2 px-2"></i>
          <span class="px-2">Tìm kiếm nâng cao</span>
        </button>
        <button
          class="text-white flex items-center ml-3 px-1 py-1.5 bg-rose-500 hover:bg-rose-600 rounded-lg hover:font-medium">
          <i class="h-full fa-solid fa-bookmark mr-2 px-2"></i>
          <span class="px-2">Khuyến mại</span>
        </button>
      </div>
    </div>
    <app-create-return-table></app-create-return-table>
  </div>
  <!-- Sản phẩm khuyến mại -->
  <div class="mt-12">
    <button class=" py-2"><span class="text-base text-gray-800 underline-offset-2 underline">Sản phẩm khuyến
        mãi</span></button>
    <div class="flex items-center mt-2 ">
      <div class="mat-input-infix  w-1/4 mt-1">
        <ng-select #Promotion class="pb-0" [appearance]="'outline'" class="flex-1 "
          (change)="handlePromotionChangeSelect($event)" [items]="products$ |async" [placeholder]="'Tên sản phẩm'">

        </ng-select>
      </div>
      <button (click)="openDialogProduct('promotion')"
        class="text-gray-600 flex items-center ml-3 px-1 py-1.5 bg-zinc-200 hover:bg-zinc-300 rounded-lg hover:font-medium">
        <i class="fa-solid fa-filter mr-2 px-2"></i>
        <span class="px-2">Tìm kiếm nâng cao</span>
      </button>
    </div>
    <app-create-return-promotion-table></app-create-return-promotion-table>
  </div>

  <div>
    <div class="flex justify-between">
      <span class="font-medium w-1/3 py-2">Bằng chữ: {{textMoney}} {{textMoney?'đồng':''}}</span>
      <span class="font-medium w-1/3 py-2">Tổng tiền hàng: {{totalPrice | currency: 'VND'}}</span>
    </div>
    <div class="flex justify-between">
      <!-- <span class="font-medium w-1/3 py-2 text-green-700">Hạn mức công nợ:</span> -->
      <!-- <span class="font-medium w-1/3 py-2">Tổng tiền VAT:</span> -->
    </div>
    <div class="flex justify-between">
      <!-- <span class="font-medium w-1/3 py-2 text-green-700">Dư nợ hiện tại:</span> -->
      <!-- <span class="font-medium w-1/3 py-2">Chiết khấu sản phẩm: </span> -->
    </div>
    <div class="flex justify-between">
      <span class="font-medium w-1/3 py-2 text-green-700">Hình thức thanh toán:</span>
      <span class="font-medium w-1/3 py-2">Chiết khấu sản phẩm: {{discountAmount | currency: 'VND'}}</span>
    </div>
    <div class="flex justify-between">
      <span class="font-medium w-1/3 py-2"></span>
      <span class="font-medium w-1/3 py-2">Phải thanh toán:{{totalPrice - discountAmount | currency: 'VND'}} </span>
    </div>
  </div>
</div>