<div class="flex w-full">
    <div class="fixed top-16 left-0 bottom-0 overflow-y-auto z-10">
        <app-sidebar (isShowSidebarOutput)="isShowSidebar($event)"></app-sidebar>
    </div>
    <div
        [ngClass]="{ 'ml-60': isShowSidebarToMargin, 'ml-10': !isShowSidebarToMargin }"
        class="fixed bottom-10 top-16 z-0 px-5">
        <!-- table -->
        <router-outlet></router-outlet>
        <div id="table" class="table-wrapper">
            <table class="block custom-table text-gray-500 dark:text-gray-400">
                <thead class="custom-thead">
                    <th class="custom-th">Col1 this is the longest title</th>
                    <th class="custom-th">Col1 this is the longest title</th>
                    <th class="custom-th">Col1 this is the longest title</th>
                    <th class="custom-th">Col1 this is the longest title</th>
                    <th class="custom-th">Col1 this is the longest title</th>
                    <th class="custom-th">Col1 this is the longest title</th>
                    <th class="custom-th">Col1 this is the longest title</th>
                    <th class="custom-th">Col1 this is the longest title</th>
                    <th class="custom-th">Col1 this is the longest title</th>
                    <th class="custom-th">Col1 this is the longest title</th>
                    <th class="custom-th">Col1 this is the longest title</th>
                    <th class="custom-th">Col1 this is the longest title</th>
                    <th class="custom-th">Col1 this is the longest title</th>
                    <th class="custom-th">Col1 this is the longest title</th>
                    <th class="custom-th">Col1 this is the longest title</th>
                    <th class="custom-th">Col1 this is the longest title</th>
                    <th class="custom-th">Col1 this is the longest title</th>
                    <th class="custom-th">Col1 this is the longest title</th>
                    <th class="custom-th">Col1 this is the longest title</th>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let element of [1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9]"
                        class="custom-row">
                        <td>Value 1</td>
                        <td>Value 2</td>
                        <td>Value 3</td>
                        <td>Value 4</td>
                        <td>Value 5</td>
                        <td>Value 6</td>
                        <td>Value 7</td>
                        <td>Value 8</td>
                        <td>Value 9</td>
                        <td>Value 10</td>
                        <td>Value 11</td>
                        <td>Value 12</td>
                        <td>Value 13</td>
                        <td>Value 14</td>
                        <td>Value 15</td>
                        <td>Value 16</td>
                        <td>Value 17</td>
                        <td>Value 18</td>
                        <td>Value 19</td>
                        <td>Value 20</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
