.menu-collapse {
  border-right: 2px solid #F0F1F3;
}

:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0;
}

input[type='file']{

  height: 200px;
  width: 100%;
  position:absolute;
  top:0;
  left:0;
  opacity:0;
  z-index: 15;
  cursor:pointer;
}

input, select, option {
  font-weight: 600;
}


.box {
  border: 1px dashed;
}