<div class="flex-row justify-between h-fit py-2 px-4 sticky top-0 bg-white items-center w-full"
    style="display: flex!important; margin: 0!important;">
    <div class="text-xl text-gray-900 font-bold tracking-wider flex">Đặt lại mật khẩu</div>
    <i class="fa-solid fa-xmark w-7 h-7 hover:bg-slate-200 flex justify-center items-center" mat-dialog-close></i>
</div>
<hr>
<div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Mật khẩu</div>
    <input class="border border-solid border-black p-1 ml-4 rounded-sm w-72 text-xs h-7">
</div>
<div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
    <div class="font-bold">Nhập lại mật khẩu</div>
    <input class="border border-solid border-black p-1 ml-4 rounded-sm w-72 text-xs h-7">
</div>
<div class="flex flex-row justify-end items-center min-w-max w-full px-3 py-6 bg-gray-200">
    <div
        class="flex flex-row bg-blue-900 opacity-80 text-white justify-center items-center px-2 py-2 rounded-l-sm cursor-pointer">
        <span class="mx-2">Lưu</span>
    </div>
</div>