<div class="h-full flex flex-row w-full overflow-hidden">
  <div class="h-full max-w-md bg-gray-100 my-1 mr-1 flex flex-col relative overflow-hidden" [ngClass]="class.left">
    <div class="w-72 bg-white mx-3 my-2 h-8 flex items-center border border-solid border-gray-400 rounded-sm"
      *ngIf="class.statusbar">
      <i class="fa-solid fa-magnifying-glass fa-sm px-2 text-gray-400"></i>
      <input class="bg-white w-full text-xs h-full" placeholder="Tìm kiếm nhân viên" (keydown)="SearchEmployee()" [(ngModel)]="body.keyword" name="search">
    </div>
    <div class="overflow-scroll h-full">
      <!-- <div class="w-72 bg-white mx-3 my-2 h-8 flex items-center border border-solid border-gray-400 rounded-sm"
        *ngIf="class.statusbar">
        <i class="fa-solid fa-magnifying-glass fa-sm px-2 text-gray-400"></i>
        <input class="bg-white w-full text-xs h-full" placeholder="Tìm kiếm trên cây">
      </div> -->
      <div class="w-fit p-2 text-xs">
        <app-user-tree-view (newItemEvent)="searchUser($event)"></app-user-tree-view>
      </div>
    </div>

    <button class="absolute w-5 h-8 top-0 right-0 bg-gray-50 border border-solid border-gray-300"
      (click)="closeSideBar()" *ngIf="class.statusbar">
      <i class="fa-solid fa-caret-left"></i>
    </button>
    <button class="absolute w-5 h-8 top-0 right-0 bg-gray-50 border border-solid border-gray-300"
      (click)="openSideBar()" *ngIf="!class.statusbar">
      <i class="fa-solid fa-caret-right"></i>
    </button>
  </div>
  <div class="h-full bg-gray-100 my-1 mr-1 flex flex-col" [ngClass]="class.right">
    <div class="w-full px-2 bg-white h-9 flex items-center text-lg font-medium">
      Cây đơn vị ( {{totalCount}} thành viên)
    </div>
    <div
      class="w-full px-2 py-1 bg-gray-100 border-gray-300 border-y border-solid h-10 flex flex-wrap items-center text-xs font-medium">
      <button class="w-fit px-3 py-2 flex flex-row items-center hover:bg-white" (click)="AddUser()">
        <i class="fa-sharp fa-solid fa-plus text-emerald-500 font-bold mr-2"></i>
        Thêm mới
      </button>
      <app-menu-bar [menuObj]="menuObj" (message)="Select($event)" *ngFor="let menuObj of listMenuObj">
      </app-menu-bar>
      <button class="w-fit px-3 py-2 flex flex-row items-center hover:bg-white">
        <i class="fa-sharp fa-solid fa-download text-emerald-500 font-bold mr-2"></i>
        Xuất dữ liệu
      </button>
      <app-menu-bar [menuObj]="menuObj" (message)="Select($event)" *ngFor="let menuObj of listMenuObj2">
      </app-menu-bar>
    </div>
    <div class="overflow-scroll relative w-full h-full">
      <div class="flex flex-row w-max">
        <table class="w-max sticky left-0 bg-gray-100 z-10">
          <thead class="h-10 w-full text-xs sticky top-0">
            <th class="w-10 border-x border-solid border-gray-300 px-2 bg-gray-100"><input type="checkbox">
            </th>
            <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Ảnh</th>
            <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Trạng thái</th>
            <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Email</th>
          </thead>
          <tbody>
            <tr class="h-14 w-fit text-xs"
              *ngFor="let user of users | paginate: { itemsPerPage: pageSize, currentPage: page,totalItems:totalCount }; let o=odd; let e=even;"
              [ngClass]="{ 'bg-gray-100': o, 'bg-white': e }">
              <td class="w-10 h-14 flex flex-row border-x border-solid align-middle px-2">
                <input type="checkbox" class="mx-1">
                <i class=""></i>
              </td>
              <td class="border-x border-solid align-middle px-2">
                <img class="h-10" [src]="user.avatar">
              </td>
              <td class="border-x w-fit border-solid align-middle px-2">
                Hoạt động
                <!-- <span *ngIf="user.status">Hoạt động</span>
                                <span *ngIf="!user.status">Khóa tài khoản</span> -->
              </td>
              <td class="border-x w-fit border-solid align-middle px-2">{{user.email}}
              </td>
            </tr>
          </tbody>
        </table>
        <table class="w-max">
          <thead class="h-10 w-full text-xs sticky top-0">
            <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Mã nhân viên
            </th>
            <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Tên nhân viên
            </th>
            <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Giới tính</th>
            <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Chức danh</th>
            <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Chức vụ</th>
            <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Bộ phận</th>
            <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Điện thoại</th>
            <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Địa chỉ</th>
            <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Version</th>
            <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">TG online cuối
            </th>
            <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">TG đồng bộ cuối
            </th>
          </thead>
          <tbody>
            <tr class="w-fit text-xs h-10"
              *ngFor="let user of users | paginate: { itemsPerPage: pageSize, currentPage: page,totalItems:totalCount }; let o=odd; let e=even;"
              [ngClass]="{ 'bg-gray-100': o, 'bg-white': e }">
              <td class="border-x w-fit border-solid align-middle px-2">{{user.employeeCode}}</td>
              <td class="border-x w-fit border-solid align-middle px-2 text-emerald-500 font-medium cursor-pointer"
                (click)="DetailUser(user.id)">
                {{user.employeeName}} </td>
              <td class="border-x w-fit border-solid align-middle px-2">
                <span *ngIf="user.gender == 0">Nam</span>
                <span *ngIf="user.gender == 1">Nữ</span>
                <span *ngIf="user.gender == 2">N/A</span>
              <td class="border-x w-fit border-solid align-middle px-2">
                <div class="flex px-2 py-1 rounded bg-sky-700 text-white">
                  {{user.employeeTitle}}
                </div>
              </td>
              <td class="border-x w-fit border-solid align-middle px-2">{{user.position}}</td>
              <td class="border-x w-fit border-solid align-middle px-2">{{user.department}}</td>
              <td class="border-x w-fit border-solid align-middle px-2">{{user.phone}} </td>
              <td class="border-x w-fit border-solid align-middle px-2">{{user.address}}</td>
              <td class="border-x w-fit border-solid align-middle px-2">{{user.versionMobile}}</td>
              <td class="border-x w-fit border-solid align-middle px-2">
                {{datePipe.transform(user.lastSeenDate,'dd-MM-YYYY')}}</td>
              <td class="border-x w-fit border-solid align-middle px-2">
                {{datePipe.transform(user.lastSyncDate,'dd-MM-YYYY')}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="w-full px-2 bg-gray-100 py-1 mb-1 flex flex-row justify-end items-center text-xs">
      <select class="bg-white px-3 py-1 border border-solid border-gray-500 rounded-sm" (change)="ChangePageSize()"
        [(ngModel)]="pageSize">
        <option *ngFor="let pageSize of pageSizeList" [value]="pageSize">{{pageSize}} bản ghi/trang</option>
      </select>
      <!-- <div class="flex flex-row">
                <div class="flex w-6 h-6 mx-3 justify-center items-center text-white bg-green-600 cursor-pointer">1
                </div>
            </div> -->
      <div class="justify-end px-2 text-xs flex items-center">
        <pagination-controls previousLabel="Trước" nextLabel="Sau" (pageChange)="ChangePage($event)"
          [directionLinks]="true"></pagination-controls>
        <span>Hiển thị {{(page-1)*pageSize + 1}} - {{page*pageSize}} trên tổng số {{totalCount}} bản ghi</span>
      </div>
    </div>
  </div>
</div>