/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Lato', sans-serif !important;
    overflow-y: hidden;
    overflow-x: hidden;
}
* {
    color: #333;
}

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
