<div class="h-full flex flex-row w-full overflow-hidden">
    <div class="h-full max-w-md bg-gray-100 my-1 mr-1 flex flex-col relative overflow-hidden" [ngClass]="class.left">
        <div class="w-60 bg-white mx-3 my-2 h-8 flex items-center border border-solid border-gray-400 rounded-sm"
            *ngIf="class.statusbar">
            <i class="fa-solid fa-magnifying-glass fa-sm px-2 text-gray-400"></i>
            <input class="bg-white w-full text-xs h-full" placeholder="Tìm kiếm tuyến bán hàng">
        </div>
        <div class="overflow-scroll h-full">
            <div class="w-60 bg-white mx-3 my-2 h-8 flex items-center border border-solid border-gray-400 rounded-sm"
                *ngIf="class.statusbar">
                <i class="fa-solid fa-magnifying-glass fa-sm px-2 text-gray-400"></i>
                <input class="bg-white w-full text-xs h-full" placeholder="Tìm kiếm trên cây">
            </div>
            <div class="w-fit p-2 text-xs">
                <app-route-tree-view></app-route-tree-view>
            </div>
        </div>

        <button class="absolute w-5 h-8 top-0 right-0 bg-gray-50 border border-solid border-gray-300"
            (click)="closeSideBar()" *ngIf="class.statusbar">
            <i class="fa-solid fa-caret-left"></i>
        </button>
        <button class="absolute w-5 h-8 top-0 right-0 bg-gray-50 border border-solid border-gray-300"
            (click)="openSideBar()" *ngIf="!class.statusbar">
            <i class="fa-solid fa-caret-right"></i>
        </button>
    </div>
    <div class="h-full bg-gray-100 my-1 mr-1 flex flex-col" [ngClass]="class.right">
        <div class="w-full px-2 bg-white h-9 flex items-center text-lg font-medium">
            Quản lý tuyến ( {{item.tree.length}} )
        </div>
        <div
            class="w-full px-2 py-1 bg-gray-100 border-gray-300 border-y border-solid h-10 flex flex-wrap items-center text-xs font-medium">
            <button class="w-fit px-3 py-2 flex flex-row items-center hover:bg-white" (click)="addRoute()">
                <i class="fa-sharp fa-solid fa-plus text-emerald-500 font-bold mr-2"></i>
                Thêm mới
            </button>
            <app-menu-bar [menuObj]="menuObj" (message)="Select($event)" *ngFor="let menuObj of listMenuObj">
            </app-menu-bar>
            <button class="w-fit px-3 py-2 flex flex-row items-center hover:bg-white">
                <i class="fa-sharp fa-solid fa-arrows-rotate text-emerald-500 font-bold mr-2"></i>
                Tải lại
            </button>
            <button class="w-fit px-3 py-2 flex flex-row items-center hover:bg-white">
                <i class="fa-sharp fa-solid fa-upload text-emerald-500 font-bold mr-2"></i>
                Nhập dữ liệu
            </button>
            <app-menu-bar [menuObj]="menuObj" (message)="Select($event)" *ngFor="let menuObj of listMenuObj2">
            </app-menu-bar>
        </div>
        <div class="overflow-scroll relative w-full h-full">
            <table class="w-full">
                <thead class="h-10 w-full text-xs sticky top-0">
                    <th class="border-x border-solid border-gray-300 px-2 bg-gray-100"><input type="checkbox">
                    </th>
                    <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Trạng thái</th>
                    <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Mã tuyến</th>
                    <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Tên tuyến</th>
                    <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Nhân viên</th>
                    <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Nhóm</th>
                    <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Tổng</th>
                    <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Ngày tạo</th>
                    <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Ngày cập nhật
                    </th>
                    <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Người cập nhật
                    </th>
                </thead>
                <tbody>
                    <tr class="h-auto text-xs" *ngFor="let route of routes; let o=odd; let e=even;"
                        [ngClass]="{ 'bg-gray-100': o, 'bg-white': e }">
                        <td class="border-x border-solid align-middle px-2 py-3"><input type="checkbox"></td>
                        <td class="border-x border-solid align-middle px-2 py-3">route.gender}} </td>
                        <td class="border-x border-solid align-middle px-2 py-3 text-emerald-500 font-medium cursor-pointer"
                            (click)="Detailroute(route.id)">
                            route.fullname}} </td>
                        <td class="border-x border-solid align-middle px-2 py-3">route.pos}}</td>
                        <td class="border-x border-solid align-middle px-2 py-3"></td>
                        <td class="border-x border-solid align-middle px-2 py-3"></td>
                        <td class="border-x border-solid align-middle px-2 py-3">route.phone}} </td>
                        <td class="border-x border-solid align-middle px-2 py-3">route.add}}</td>
                        <td class="border-x border-solid align-middle px-2 py-3">route.ver}}</td>
                        <td class="border-x border-solid align-middle px-2 py-3"> route.lastModifed}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="w-full px-2 bg-gray-100 py-1 mb-1 flex flex-row justify-end items-center text-xs">
            <select class="bg-white px-3 py-1 border border-solid border-gray-500 rounded-sm">
                <option>30 bản ghi/trang</option>
            </select>
            <div class="flex w-6 h-6 mx-3 justify-center items-center text-white bg-green-600">1</div>
            <span>Hiển thị 1 - 9 trên tổng số 9 bản ghi</span>
        </div>
    </div>
</div>