<div class="w-full">
  <form [formGroup]="formInforRouteUpdate" class="w-2/3">
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
        <div class="font-medium">Mã tuyến</div>
        <div class="flex flex-row">
            <div class="text-red-500 mr-4">*</div>
            <input class="border border-solid border-black p-1 rounded w-96 text-xs h-7" *ngIf="status != 'view'" [ngModel]="RootInfoRouteDetail?.routeCode" formControlName="routeCode">
            <div class="w-96 text-xs" *ngIf="status == 'view'">.email}}</div>
        </div>
    </div>
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
        <div class="font-medium">Tên tuyến</div>
        <div class="flex flex-row">
            <div class="text-red-500 mr-4">*</div>
            <input formControlName="routeName" [ngModel]="RootInfoRouteDetail?.routeName"
                class="border border-solid border-black p-1 rounded w-96 text-xs h-7" *ngIf="status != 'view'">
            <div class="w-96 text-xs" *ngIf="status == 'view'">.employeeCode}}</div>
        </div>
    </div>
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
        <div class="font-medium">Nhóm</div>
        <div class="flex flex-row relative z-20">
          <div class="text-red-500 mr-4">*</div>
          <input class="border border-solid border-black p-1 rounded w-96 text-xs h-7" readonly [(ngModel)]="groupName" [ngModelOptions]="{standalone: true}" *ngIf="status != 'view'" (click)="showGroup = !showGroup">
          <div *ngIf="showGroup" class="border border-solid border-black p-1 rounded absolute z-20 top-full mt-1 bg-gray-50 w-full">
            <app-tree-group (getIdName)="getIdName($event)"></app-tree-group>
          </div>
          <!-- <div class="w-96 text-xs" *ngIf="status == 'view'">.employeeName}}</div> -->
        </div>
    </div>
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
        <div class="font-medium">Nhân viên</div>
        <div class="flex flex-row">
            <div class="text-red-500 mr-4">*</div>
            <select class="border border-solid border-black p-1 rounded w-96 text-xs h-7"
                *ngIf="status != 'view'" formControlName="employeeId" [ngModel]="RootInfoRouteDetail?.employee.id">
                <option *ngFor="let item of EmployeeInGroup" [value]="item.employee.id">{{item.employee.employeeName}}</option>
            </select>
            <div class="w-96 text-xs" *ngIf="status == 'view'">.employeeTitle}}</div>
        </div>
    </div>
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
        <div class="font-medium">Ngày đi tuyến</div>
        <select class="border border-solid border-black p-1 rounded w-96 text-xs h-7" *ngIf="status != 'view'"
          formControlName="routeDate" [ngModel]="RootInfoRouteDetail?.routeDate">
          <option value="vn">Không giới hạn</option>
          <option value="2">Thứ 2</option>
          <option value="3">Thứ 3</option>
          <option value="4">Thứ 4</option>
          <option value="5">Thứ 5</option>
          <option value="6">Thứ 6</option>
          <option value="7">Thứ 7</option>
          <option value="cn">Chủ nhật</option>
        </select>
        <div class="w-96 text-xs" *ngIf="status == 'view'">.langKey}}</div>
    </div>
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
        <div class="font-medium">Ngày bắt đầu</div>
        <input type="date" formControlName="startedDate" [ngModel]="formatDate" class="border border-solid border-black p-1 rounded w-96 text-xs h-7" >
        <!-- <div class="w-96 text-xs" *ngIf="status == 'view'">.phone}}</div> -->
    </div>
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
        <div class="font-medium">Trạng thái</div>
        <div class="flex flex-row">
            <div class="text-red-500 mr-4">*</div>
            <select class="border border-solid border-black p-1 rounded w-96 text-xs h-7"
            formControlName="status" (change)="changeStatus($event)" [ngModel]="RootInfoRouteDetail?.status">
                <option [value]="true">Hoạt động</option>
                <option [value]="false">Khoá</option>
            </select>
            <div class="w-96 text-xs" *ngIf="status == 'view'">.employeeTitle}}</div>
        </div>
    </div>
    <div class="flex flex-row justify-between items-center min-w-max w-full px-3 py-2">
        <div class="font-medium">Danh sách khách hàng (<span class="font-bold">{{listAllCusInRouteData.totalCount}}</span>)</div>
        <div class="relative z-0">
          <input class="border border-solid border-black p-1 rounded w-96 text-xs h-7 pl-7" (input)="SerchCus($event)" placeholder="Tìm kiếm khách hàng">
          <i class="fa-solid fa-magnifying-glass absolute left-2 top-1/2 -translate-y-1/2"></i>
        </div>
    </div>
  </form>

  <!-- ?? Table -->
  <div class="mt-5 w-full aspect-4/1 overflow-y-scroll">
    <div *ngIf="!listAllCusInRouteData.data && listAllCusInRouteData.totalCount !== 0 && typeRoute == 'update'" class="mt-10 text-center">
      <i class="fa-solid fa-cloud-arrow-down fa-xl text-green-text animate-ping"></i>
    </div>
    <table *ngIf="listAllCusInRouteData.data" class="w-full">
      <thead class="h-10 w-full text-xs sticky top-0">
        <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">
          <input type="checkbox">
        </th>
        <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Mã khách hàng</th>
        <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Tên khách hàng</th>
        <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Loại khách hàng</th>
        <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Nhóm khách hàng</th>
        <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Khu vực</th>
        <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Địa chỉ</th>
        <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Thứ tự VT</th>
        <!-- <th class="border-x border-solid border-gray-300 px-2 bg-gray-100 text-center">
          <thead class="w-full  block">Quang Duy</thead>
          <thead class="w-full flex mt-3">
            <th class="flex-1 flex items-center justify-center">W1 <input type="checkbox" class="h-4 w-4 ml-2"></th>
            <th class="flex-1 flex items-center justify-center">W2 <input type="checkbox" class="h-4 w-4 ml-2"></th>
            <th class="flex-1 flex items-center justify-center">W3 <input type="checkbox" class="h-4 w-4 ml-2"></th>
          </thead>
        </th> -->
        <th class="border-x border-solid border-gray-300 px-2 bg-gray-100">Xoá</th>
      </thead>
      <tbody>
        <tr class="h-auto text-xs" *ngFor="let route of listAllCusInRouteData.data; let o=odd; let e=even;"
          [ngClass]="{ 'bg-gray-100': o, 'bg-white': e }">
          <td class="border-x border-solid align-middle px-2 py-3 flex justify-center items-center  ">
            <input type="checkbox">
          </td>
          <td class="border-x border-solid align-middle px-2 py-3">{{route.customer.customerCode}}</td>
          <td class="border-x border-solid align-middle px-2 py-3">{{route.customer.customerName}}</td>
          <td class="border-x border-solid align-middle px-2 py-3">{{route.customer.customerType}}</td>
          <td class="border-x border-solid align-middle px-2 py-3">{{route.customer.customerGroup}}</td>
          <td class="border-x border-solid align-middle px-2 py-3">{{route.customer.area}}</td>
          <td class="border-x border-solid align-middle px-2 py-3">{{route.customer.address}}</td>
          <td class="border-x border-solid align-middle px-2 py-3">{{route.customer.position}}</td>
          <td class="border-x border-solid align-middle px-2 py-3"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- !! end table -->
</div>